/var/log/openshift/node/watchman*.log {
 copytruncate
 rotate 30
 daily
 missingok
 notifempty
 compress
}

/var/log/openshift/node/platform*.log {
 copytruncate
 rotate 30
 daily
 missingok
 notifempty
 compress
}
