%section#copyright
  .container
    Source code for the OpenShift Origin admin console is
    #{link_to "available on Github", openshift_github_project_url('origin-server/tree/master/console')}. See
    #{link_to "README.md", openshift_github_project_url('origin-server/blob/master/README.md')}
    for copyright and source information. OpenShift, OpenShift Origin and the OpenShift Logo are 
    trademarks of Red Hat, Inc.

