- content_for :page_title, 'Unauthorized'

%h1 Unauthorized

%p The console was unable to authenticate you with the OpenShift server.

%p You may need to verify that your system configuration is accurate.

%p= link_to "Return to the console", console_path
