Name: jbossas-7
Version: 7
Architecture: noarch
Provides: jbossas
Depends: java-1.6.0-openjdk
Conflicts:
Type: Cartridge
Role: misc
Vendor: www.jboss.org
DisplayName: JBossAS-7
Bundles:
Description: 
A Java EE certified platform for developing and deploying enterprise Java
applications, Web applications, and Portals, JBoss Application Server provides
the full range of Java EE 6 features as well as extended enterprise services
including clustering, caching, and persistence.

This cartridge adds support for deploying Java EE applications to a JBossAS7
server.
