policy_module(openshift-origin,1.0.0)
gen_require(`
	attribute openshift_domain;
')

########################################
#
# openshift origin standard local policy
#
allow openshift_domain self:socket_class_set create_socket_perms;
corenet_tcp_connect_all_ports(openshift_domain)
corenet_tcp_bind_all_ports(openshift_domain)
dev_read_sysfs(openshift_domain)
files_read_config_files(openshift_domain)
