Name: raw
Version: 0.1
Architecture: i686/x86_64
Provides: raw
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: www.openshift.com
DisplayName: raw-0.1
Bundles:  raw
Description: 
Provides raw compute power
