[Unit]
Description=Stickshift Port Proxy
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/stickshift-proxy.pid
EnvironmentFile=/etc/sysconfig/stickshift-proxy/stickshift-proxy.env
ExecStartPre=/bin/stickshift-proxy-cfg fixaddr
ExecStart=/usr/sbin/haproxy -D -f $STICKSHIFT_PROXY_CONFIG -p /run/stickshift-proxy.pid
ExecReload=/usr/sbin/haproxy -D -f $STICKSHIFT_PROXY_CONFIG -p /run/stickshift-proxy.pid -sf $MAINPID

[Install]
WantedBy=multi-user.target
