Name: mysql-5.1.52
Version: 5.1.52
Architecture: i686/x86_64
Provides: mysql-server
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: http://www.mysql.com
DisplayName: mysql-5.1.52
Description: 
MySQL is a multi-user, multi-threaded SQL database server. MySQL is a
client/server implementation consisting of a server daemon (mysqld)
and many different client programs and libraries. This package contains
the MySQL server and some accompanying files and directories.
