%h1
  System Stats
%section
  .row.stat
    .span2
      .stat-label
        Applications
      .stat-number-large
        = @stats[:application][:total]
    .span10
      .stat-label
        per Domain
      #apps_per_domain
%section
  .row.stat
    .span2
      .stat-label
        Users
      .stat-number-large
        = @stats[:user][:total]
    .span10
      .stat-label
        Gears per User
      #gears_per_user
%section
  .row.stat
    .span2
      .stat-label
        Domains
      .stat-number-large
        = @stats[:domain][:total]
    .span10
      .stat-label
        Owned Per User
      #domains_per_user

- content_for :javascripts do
  :javascript
    $(function() {
      create_apps_per_domain_histogram();
      create_gears_per_user_histogram();
      create_domains_per_user_histogram();
    });