-# file: Applications index

%section.main
  %header
    %h1
      Applications
  .content
    - unless @userinfo.app_info.blank?
      = render 'applications/app_info', :apps => @userinfo.app_info
  %div.notifications
    <!-- tbd -->
