-# file: Applications index

%section.main
  %header
    %h1
      Applications
    = render 'layouts/flashes'
  .content
    - unless @userinfo.app_info.blank?
      = render 'applications/app_list_filter',
        :name_filter_value => @name_filter_value,
        :app_type_filter_value => @app_type_filter_value,
        :app_types_options => @app_type_options
      = render 'applications/app_list', :apps => @filtered_app_info

  %div.notifications
    <!-- tbd -->
