- lots_of_applications = @applications.length > 10
- application_partial = lots_of_applications ? 'applications/application_compact' : 'applications/application'

%h1 Applications
.content

  - if @applications_filter.present? or lots_of_applications
    = render :partial => 'applications/applications_filter', :object => @applications_filter

  - unless @applications.empty?
    %ul
      - @applications.each do |application|
        %li
          = render :partial => application_partial, :locals => { :application => application }

  - if @applications.empty? and @applications_filter.present?
    .alert.alert-info No applications match your filter

  %div
    = link_to 'Add an Application', application_types_path

  %div.notifications
    <!-- tbd -->
