- application_partial = @applications.length < 10 ? 'applications/application' : 'applications/application_compact'

%section.main
  %header
    %h1
      Applications
  .content
    - unless @applications.empty? and !@applications_filter.active?
      = render :partial => 'applications/applications_filter', :object => @applications_filter
      %ul
        - @applications.each do |application|
          %li
            = render :partial => application_partial, :locals => { :application => application }
    %div
      = link_to 'Add an Application', application_types_path

  %div.notifications
    <!-- tbd -->
