/* Fonts
-------------------------------------------------- */
@font-face {
  font-family: 'OverpassBold';
  src:url('fonts/overpass-bold-wf.eot');
  src:url('fonts/overpass-bold-wf.eot?#iefix') format('eot'),
      url('fonts/overpass-bold-wf.woff') format('woff'),
      url('fonts/overpass-bold-wf.ttf') format('truetype'),
      url('fonts/overpass-bold-wf.svg#webfontzRhIMntw') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src:url('fonts/overpass-wf.eot');
  src:url('fonts/overpass-wf.eot?#iefix') format('eot'),
      url('fonts/overpass-wf.woff') format('woff'),
      url('fonts/overpass-wf.ttf') format('truetype'),
      url('fonts/overpass-wf.svg#webfontiqWxLEM5') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Twitter Bootstrap Customizations
------------------------------------------------ 
Colors
CC0000, CD1E25 -> reds -> danger/important
FF9F00, ffb02e -> oranges -> warning
4E9FDD -> blue -> primary
ABB64C -> green -> success
93D8E2 -> lite blue -> info
------------------------------------------------ */

/*FIXME: Can be handled via LESS on the core bootstrap template? */
body, p, button, select, textarea, .navbar-search .search-query {
	font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
  }
a {
	color: #0069d6; 
	}
a:hover {
  color: #00438a;
	}
p {
	margin: 5px 0 13px;
	}
h1,h2,h3,h4,h5,.headline {
	font-family: Overpass, Helvetica, Arial, sans-serif;
	font-weight: normal;
	}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
h2 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 8px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
  margin-bottom: 8px;
	}
h4 {
	font-size: 16px;
	}
h5 {
	font-size: 14px;
	}
h6 {
	font-size: 11px;
	}
figure {
	margin: 0;
	padding: 0;
	}
#content-wrap {
	min-height: 550px;
	}
.page-header {
	padding-bottom: 0;
	}
ol.unstyled {
  margin-left: 0;
  list-style: none;
	}
pre {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
	}
pre.cli {
	color: #000c5a;
	background-color: #E9ECFF;
	border: none;
	}
.label {
  padding: 3px 3px 1px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label-important {
  background-color: #c00;
}
.label-warning {
  background-color: #ffb02e;
}
.label-success {
  background-color: #ABB64C;
	}
.label-info {
  background-color: #93d8e2;
	}
input, textarea {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
	}
input:focus, textarea:focus {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
	}
.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
  color: #FF9F00;
	}
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #FF9F00;
  border-color: #FF9F00;
	}
.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
  border-color: #FF9F00;
  -webkit-box-shadow: 0 0 6px #FF9F00;
  -moz-box-shadow: 0 0 6px #FF9F00;
  box-shadow: 0 0 6px #FF9F00;
	}
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
  color: #FF9F00;
  background-color: #fcf8e3;
  border-color: #FF9F00;
	}
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #cc0000;
	}	
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #cc0000;
  border-color: #cc0000;
	}
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #CD1E25;
  -moz-box-shadow: 0 0 6px #CD1E25;
  box-shadow: 0 0 6px #CD1E25;
	}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
  color: #cc0000;
  background-color: #f2dede;
  border-color: #cc0000;
	}
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #95a321;
	}
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #95a321;
  border-color: #95a321;
	}
.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color: #468847;
  -webkit-box-shadow: 0 0 6px #468847;
  -moz-box-shadow: 0 0 6px #468847;
  box-shadow: 0 0 6px #468847;
	}
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
  color: #95a321;
  background-color: #dff0d8;
  border-color: #95a321;
	}
.control-group input.error, .control-group textarea.error, .control-group select.error {
	color: #cc0000;
	background-color: #f2dede;
  border-color: #cc0000;
	}
.control-group input.error:focus, .control-group select.error:focus, .control-group textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #CD1E25;
  -moz-box-shadow: 0 0 6px #CD1E25;
  box-shadow: 0 0 6px #CD1E25;
  }
.form-actions {
	background-color: none;
	}
.help-block-multiple {
	background-color: #FFFCE4;
 	border: 4px solid #ddd;
  border: 4px solid rgba(88, 88, 88, 0.05);
 	padding: 14px;
	}
.side-block {
	margin-top: 5px;
  margin-bottom: 0;
  color: #6e6e6e;
  background: #f0f0f0;
  padding: 20px;
	}
.input-prepend, .input-append, .input-prepend-append {
  margin-bottom: 5px;
  *zoom: 1;
	}
.input-prepend:before,
.input-append:before,
.input-prepend:after,
.input-append:after,
.input-prepend-append:before,
.input-prepend-append:after {
  display: table;
  content: "";
	}
.input-prepend:after, .input-append:after, .input-prepend-append:after {
  clear: both;
	}
.input-append input,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
	}
.input-prepend input,
.input-prepend .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
	}
.input-prepend input:focus,
.input-append input:focus,
.input-prepend-append input:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
  position: relative;
  z-index: 2;
	}
.input-prepend .uneditable-input, .input-append .uneditable-input {
  border-left-color: #ccc;
	}
.input-prepend .add-on, .input-append .add-on, 
.input-prepend-append .add-on-first, .input-prepend-append .add-on-last {
  float: left;
  display: block;
  width: auto;
  min-width: 16px;
  height: 18px;
  margin-right: -1px;
  padding: 4px 11px;
  font-weight: normal;
  line-height: 18px;
  color: #999999;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
	}
.input-append .add-on {
  border-radius: 0 3px 3px 0;
	}
.input-prepend-append input {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  float: left;
	}
.input-prepend-append .add-on-first {
	margin-right: 0;
	}
.input-prepend-append .add-on-last {
	display: inline;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
	}
.input-prepend-append .add-on-middle {
	display: block;
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 4px 5px;
  text-align: center;
  background-color: #fff;
  color: #999;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
.input-prepend .active, .input-append .active, .input-prepend-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
	}
.input-prepend-append .add-on {
	border: 1px solid #f4f4f4;
	}
.form-inline .input-prepend-append {
  display: inline-block;
	}
.form-inline .input-prepend-append .add-on-first,
.form-inline .input-prepend-append .add-on-last {
  vertical-align: middle;
	}

.control-group-important .input-prepend-append .add-on-first,
.control-group-important .input-prepend-append .add-on-last,
.control-group-important .input-prepend-append .add-on-middle,
.control-group-important .input-prepend-append input,
.control-group-important .input-prepend-append input {
  font-size: 15px;
  padding: 8px 10px;
  max-width: 716px;
  }
  .control-group-important label {
  	font-size: 15px;
  	}
  .form-horizontal .control-group-important > label {
    padding-top: 10px;
    }

.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: #444;
  text-align: center;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  vertical-align: middle;
  *margin-left: .3em;
	}
.btn:first-child {
  *margin-left: 0;
	}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
	}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
	}
.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
	}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	}
.btn-large {
  padding: 8px 14px;
  font-size: 115%;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	}
.btn-large .icon {
  margin-top: 1px;
	}
.btn-small {
  padding: 3px 8px;
  font-size: 11px;
  line-height: 16px;
	}
.btn-small .icon {
  margin-top: -1px;
	}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
	}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
	}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active {
  color: rgba(255, 255, 255, 0.75);
	}
.btn-primary {
  background-color: #4e9fdd;
  background-image: none;
  border-color: #0022d6 #0022d6 #00168a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #2887d0;
	}
.btn-primary:active, .btn-primary.active {
  background-color: #2887d0 \9;
	}
.btn-warning {
  background-color: #ffb02e;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #ff9f00;
	}
.btn-warning:active, .btn-warning.active {
  background-color: #ff9f00 \9;
	}
.btn-danger {
  background-color: #c00;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #A00;
	}
.btn-danger:active, .btn-danger.active {
  background-color: #A00 \9;
	}
.btn-success {
  background-color: #ABB64C;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #959f41;
	}
.btn-success:active, .btn-success.active {
  background-color: #959f41 \9;
	}
.btn-info {
  background-color: #93d8e2;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #78cfdb;
	}
.btn-info:active, .btn-info.active {
  background-color: #78cfdb \9;
	}
.form-actions > img,
.btn-toolbar > img {
  vertical-align: middle;
  }

.alert {
  padding: 9px 35px 10px 21px;
  margin-bottom: 18px;
  background-color: #ffd25e;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	}
.alert, .alert-heading {
  color: #222;
	}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
	}
.alert-success {
  background-color: #D4E16B;
  border-color: none;
	}
.alert-danger, .alert-error {
  background-color: #CD1E25;
  border-color: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #fff;
	}
.alert-info {
  background-color: #bfdce8;
  border-color: none;
	}
.alert-info, .alert-info .alert-heading {
  color: #222;
	}
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #212121;
  background-image: -moz-linear-gradient(top, #323232, #191919);
  background-image: -ms-linear-gradient(top, #323232, #191919);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#191919));
  background-image: -webkit-linear-gradient(top, #323232, #191919);
  background-image: -o-linear-gradient(top, #323232, #191919);
  background-image: linear-gradient(top, #323232, #191919);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232', endColorstr='#191919', GradientType=0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
	}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 7px 10px 0 0;
	}
.navbar .nav.pull-right {
  float: right;
	}
.navbar .nav > li {
  display: block;
  float: left;
	}
.navbar .nav > li > a {
  float: none;
  padding: 8px 13px 10px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  font-weight: 200;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
	}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
	}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #111;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  border-top: 1px solid #444;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  cursor: default;
	}
.navbar .brand {	
	color: #fff;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  margin: 8px 8px 0 -20px;
  padding: 8px 20px 12px;
  text-shadow: 0 1px 2px #000000;
	}
.navbar .brand span {
	white-space: nowrap;
	}
.navbar .brand sup {
	left: -2px;
  top: -0.75em;
  font-size: 8px;
  font-weight: 100;
	}
.navbar .navbar-text {
  margin: 15px -8px 0 0;
  line-height: 40px;
  color: #999;
  font-weight: 200;
	}
.navbar .navbar-text a {
	color: #999;
	}
.breadcrumb {
  margin: 0 0 18px;
	}
.breadcrumb li {
  display: inline;
	}
.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
	}
.breadcrumb .active a {
  color: #8F8F8F;
	}
.hero-unit {
  padding: 20px 25px;
  margin-bottom: 25px;
  background-color: #f2f2f2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.1);
	}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 35px;
  line-height: 1;
  letter-spacing: -1px;
	}
.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
	}
.wizard-steps {
	margin: 5px 0 13px;
	overflow: hidden;
	}  
.wizard-steps li {
  font-size: 11px;
  font-weight: bold;
  float: left;
  padding: 3px 21px;
  text-align: center;
  background-color: #F0F0F0;
  color: #999;
  text-shadow: 0 1px 2px #fff;
  list-style: none;
	}
.wizard-steps li.active {
  color: #000;
  background-color: #d8d8d8;
	}
.thumbnail {
	border: none;
	box-shadow: none;
	padding: 0;
	}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#utility-nav li {
	display: block;
  float: left;
  margin-left: 5px;
	}
#utility-nav li a {
  color: #999999;
	padding: 10px;
	text-decoration: none;
	}
#utility-nav li a:hover {
  color: #ffffff;
	}
.invisible {
  border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
	}

footer {
  margin-top: 35px;
  }
#footer-nav {
  padding-top: 35px;
  padding-bottom: 26px;
  }
#copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  }
  #copyright > .container > div {
    margin-top: 15px;
    }


/* Print styles */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/* Temporary styles for the old openshift look */
.console-transition #footer-nav {
	background-color: #574D4F;
  color: #eee;
  }
.console-transition #copyright {
  color: #eee;
	background-color: black;
  }
.console-transition #footer-nav a,
.console-transition #footer-nav h3 {
  color: #eee;
  }
.console-transition .navbar .headline { 
  color: #eee;
  font-size: 24px;
  line-height: 63px;
  margin-left: 12px;
  }
.console-transition .navbar #utility-nav {
  margin: -43px -5px 0 0;
  }
.console-transition .navbar-inner {
  background-image: none;
  background-color: #574D4F;
  box-shadow: none;
  }
.console-transition .navbar .nav > li > a,
.console-transition .navbar .nav .dropdown-menu a {
  color: #eee;
  }
.console-transition .navbar .nav > li > a:hover,
.console-transition .navbar .nav .dropdown-menu a:hover {
  color: white;
  }
.console-transition .navbar .nav .active > a,
.console-transition .navbar .nav .active > a:hover {
  color: #333333;
  background-color: white;
  box-shadow: none;
  text-shadow: none;
  }
  
  

/* Responsive styles */

@media (max-width: 480px) {
	.input-prepend-append input {
    border-left: 1px solid;
    border-radius: 0 0 0 0;
    border-right: 1px solid;
		}
	.input-prepend-append .add-on-middle {
    background-color: #FFFFFF;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
    display: block;
    float: left;
    padding: 0px 6px 5px;
		}
}

@media (max-width: 768px) {
	.hero-unit {
  	padding: 0;
  	margin-bottom: 13px;
  	background-color: #fff;
  	border: none;
  	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0;
  	box-shadow: none;
		}
	.hero-unit h1 {
		font-size: 26px;
		}
	/*FIXME revisit with better names*/
  .link-column > header { display: inline; }
  .link-column ul { margin-bottom: 5px; }
  .link-column h3 { display: inline; font-size: 14px; }
  .link-column ul { margin: 0; padding: 0; display: inline; }
  .link-column li { margin: 0; padding: 0; display: inline; list-style-image: none; list-style: none; }
  .link-column a { margin-left: 5px; text-decoration: underline; }

  .console-transition .navbar .headline { 
    display: block;
    clear: both;
    }
  .console-transition .navbar #utility-nav {
    margin: 0;
    float: none;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
	
}

@media (max-width: 980px) { 
	#utility-nav {
	  margin: 8px 5px 0 0;
	 	}
	.navbar .nav-collapse {
    clear: left;
    height: auto; /* override js toggle */
  	}
  .navbar .nav {
    float: none;
    margin: 0;
  	}
  .navbar .nav > li {
    float: none;
  	}
	.navbar .nav > li > a, .navbar .dropdown-menu a {
    padding: 6px 15px 8px;
    font-weight: bold;
    color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  	}
  .navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #111111;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 2px rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
    cursor: default;
    text-decoration: none;
		}
  .navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover {
    background-color: #1a1a1a;
  	}
  .console-transition .navbar #utility-nav {
    margin: 0;
    float: none;
    }
}
	  
@media (min-width: 980px) {
	.nav-collapse.collapse {
    height: auto !important;
  	}
  .navbar .nav > li > a, .navbar .dropdown-menu a {
  	-webkit-border-radius: 6px 6px 0 0;
  		 -moz-border-radius: 6px 6px 0 0;
  			    border-radius: 6px 6px 0 0;
		}
}

@media (min-width: 1200px) {
}
	  
