# Settings related to the nsupdate variant of an OpenShift DNS plugin

# The DNS server
BIND_SERVER="127.0.0.1"

# The DNS server's port
BIND_PORT=53

# The base zone for the DNS server
BIND_ZONE="example.com"

#
# Authentication information
#
# Provide either TSIG or GSS-TSIG information, but not both

# TSIG authentication
#
BIND_KEYNAME="example.com"
BIND_KEYVALUE="base-64 encoded DNSSEC HMAC TSIG"
#BIND_KEYALGORITHM=(HMAC-MD5|HMAC-SHA1|HMAC-SHA256|HMAC-512) # Default: HMAC-MD5

# GSS-TSIG (Kerberos) Authentication
# BIND_KRB_PRINCIPAL=""
# BIND_KRB_KEYTAB=""

