-# Javascript at the bottom for fast page loading
:ruby
  scripts = [
    'jquery-1.7.2.min.js',
    'rails',
    'plugins',
    'jquery.validate.min.js',
    'jquery.cookie.js',
    'form',
    'bootstrap-dropdown.js',
    'bootstrap-collapse.js',
    'bootstrap-transition.js'
  ]

-# scripts.each do |script|
  = javascript_include_tag script

= javascript_include_tag 'console'

-#  Append your own using content_for :javascripts
= yield :javascripts

