-# CSS: implied media="all"
= stylesheet_link_tag 'common.css', :media => 'all'
= stylesheet_link_tag 'origin.css', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
