-# CSS: implied media="all"
= stylesheet_link_tag 'common.css', :media => 'all'
= stylesheet_link_tag 'console.css', :media => 'all'
-# Moved into core scss = stylesheet_link_tag 'custom.css', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
