policy_module(gearchanger-oddjob, 1.0)

gen_require(`
	type httpd_t;
        type stickshift_t;
	type stickshift_exec_t;

	type systemd_logind_t;
	class dbus send_msg;
')

domtrans_pattern(httpd_t, stickshift_exec_t, stickshift_t)
oddjob_dbus_chat(httpd_t)
domain_dontaudit_read_all_domains_state(httpd_t)
dontaudit httpd_t self:capability sys_ptrace;

allow systemd_logind_t stickshift_t:dbus send_msg;
