[Unit]
Description=OpenShift CGroups

[Service]
Type=forking
ExecStart=/usr/bin/oo-admin-ctl-cgroups startall
ExecStop=/usr/bin/oo-admin-ctl-cgroups stopall
ExecReload=/usr/bin/oo-admin-ctl-cgroups restartall
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
