[Unit]
Description=OpenShift CGroups
After=runlevel3.target

[Service]
Type=forking
ExecStart=/usr/sbin/oo-admin-ctl-cgroups startall
ExecStop=/usr/sbin/oo-admin-ctl-cgroups stopall
ExecReload=/usr/sbin/oo-admin-ctl-cgroups restartall
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
