%h1
  Search
%section{:style => "margin-top: 30px;"}
  %form{:method => "GET", :action => search_path}
    .control-group{ :class => @scope == "user" ? "error" : ""}
      .input-append.input-prepend
        %span.add-on
          User
        %input{:type => "hidden", :name => "scope", :value => "user"}
        %input.search-query{:type => "text", :placeholder => "login", :name => "query"}
        %button{:type => "submit", :class => "btn"}
          %span{:class => "icon-search"}
      - if @scope == "user"
        .help-inline
          No search query was provided
%section
  %form{:method => "GET", :action => search_path}
    .control-group{ :class => @scope == "application" ? "error" : ""}
      .input-append.input-prepend
        %span.add-on
          Application
        %input{:type => "hidden", :name => "scope", :value => "application"}
        %input.search-query{:type => "text", :placeholder => "uuid, name, url, alias", :name => "query"}
        %button{:type => "submit", :class => "btn"}
          %span{:class => "icon-search"}
      - if @scope == "application"
        .help-inline
          No search query was provided
      .help-block
        Examples:
        %ul
          %li
            by name: myapp
          %li
            by url: myapp-mydomain.server.com
          %li
            by alias: my.alias.com
%section
  %form{:method => "GET", :action => search_path}
    .control-group{ :class => @scope == "node" ? "error" : ""}
      .input-append.input-prepend
        %span.add-on
          Node
        %input{:type => "hidden", :name => "scope", :value => "node"}
        %input.search-query{:type => "text", :placeholder => "server identity", :name => "query"}
        %button{:type => "submit", :class => "btn"}
          %span{:class => "icon-search"}
      - if @scope == "node"
        .help-inline
          No search query was provided
%section
  %form{:method => "GET", :action => search_path}
    .control-group{ :class => @scope == "gear" ? "error" : ""}
      .input-append.input-prepend
        %span.add-on
          Gear
        %input{:type => "hidden", :name => "scope", :value => "gear"}
        %input.search-query{:type => "text", :placeholder => "uuid", :name => "query"}
        %button{:type => "submit", :class => "btn"}
          %span{:class => "icon-search"}
      - if @scope == "gear"
        .help-inline
          No search query was provided