%form{:method => "GET", :action => search_path}
  %div{:class => "input-append input-prepend"}
    %span{:class => "add-on"}
      User
    %input{:type => "hidden", :name => "scope", :value => "user"}
    %input{:type => "text", :class => "search-query", :placeholder => "search by login", :name => "query"}
    %button{:type => "submit", :class => "btn"}
      %span{:class => "icon-search"}
%form{:method => "GET", :action => search_path}
  %div{:class => "input-append input-prepend"}
    %span{:class => "add-on"}
      Application
    %input{:type => "hidden", :name => "scope", :value => "application"}
    %input{:type => "text", :class => "search-query", :placeholder => "search by uuid", :name => "query"}
    %button{:type => "submit", :class => "btn"}
      %span{:class => "icon-search"}
%form{:method => "GET", :action => search_path}
  %div{:class => "input-append input-prepend"}
    %span{:class => "add-on"}
      Node
    %input{:type => "hidden", :name => "scope", :value => "node"}
    %input{:type => "text", :class => "search-query", :placeholder => "search by uuid", :name => "query"}
    %button{:type => "submit", :class => "btn"}
      %span{:class => "icon-search"}
%form{:method => "GET", :action => search_path}
  %div{:class => "input-append input-prepend"}
    %span{:class => "add-on"}
      Gear
    %input{:type => "hidden", :name => "scope", :value => "gear"}
    %input{:type => "text", :class => "search-query", :placeholder => "search by uuid", :name => "query"}
    %button{:type => "submit", :class => "btn"}
      %span{:class => "icon-search"}