Name: ruby-1.9
Version: 1.1.x
Architecture: i686/x86_64
Provides: ruby
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: rack.rubyforge.org/
DisplayName: RACK-1.1
Bundles:  ruby-1.9-bundle.tar.gz
Description: Rack provides a minimal interface between webservers supporting Ruby and Ruby frameworks.
