## <summary></summary>
########################################
## <summary>
##	Transition to mcollectived.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`openshift_domtrans_mcollectived',`
	gen_require(`
		type mcollectived_t, mcollectived_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mcollectived_exec_t, mcollectived_t)
')

