.alert.alert-warning
  - if is_owner
    Your account does not allow custom SSL certificates.
    = link_to 'View your account →', account_path
  - else
    Custom SSL certificates are not allowed for this application.
