Name: cron-1.4
Version: 1.4
Architecture: i686/x86_64
Provides: cron
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: https://fedorahosted.org/cronie
DisplayName: cron-1.4
Description:
Cartridge providing cron job scheduling service.
