policy_module(openshift-support, 2.2.1)

# apache.te
gen_require(`
        type httpd_t;
        
')

gen_tunable(httpd_run_stickshift, false)

optional_policy(`
        tunable_policy(`httpd_run_stickshift', `
                allow httpd_t self:capability { fowner fsetid sys_resource };
                dontaudit httpd_t self:capability sys_ptrace;
                allow httpd_t self:process setexec;

                files_dontaudit_getattr_all_files(httpd_t)
                domain_dontaudit_read_all_domains_state(httpd_t)
                domain_getpgid_all_domains(httpd_t)

                #optional_policy(`
                        passenger_exec(httpd_t)
                        passenger_manage_pid_content(httpd_t)
                        passenger_manage_lib_files(httpd_t)
                #')
        ',`
                passenger_domtrans(httpd_t)
                passenger_manage_pid_content(httpd_t)
                passenger_read_lib_files(httpd_t)
                passenger_stream_connect(httpd_t)
                passenger_manage_tmp_files(httpd_t)
        ')
')


# cron.te
gen_require(`
        type system_cronjob_t;
        attribute crontab_domain;
')

optional_policy(`
        openshift_dontaudit_rw_inherited_fifo_files(crontab_domain)
        openshift_transition(system_cronjob_t)
')


# mta.te
gen_require(`
        attribute mta_user_agent;
')

optional_policy(`
        openshift_rw_inherited_content(mta_user_agent)
')


# postfix.te
gen_require(`
        type postfix_local_t;
')

optional_policy(`
        openshift_search_lib(postfix_local_t)
')


# puppet.te
gen_require(`
')

optional_policy(`
        openshift_initrc_domtrans(puppet_t)
')

# rpm.te
gen_require(`
        type rpm_script_t;
')

optional_policy(`
        openshift_initrc_domtrans(rpm_script_t)
')

# sendmail.te
gen_require(`
        type sendmail_t;
')

optional_policy(`
        openshift_dontaudit_rw_inherited_fifo_files(sendmail_t)
        openshift_rw_inherited_content(sendmail_t)
')
