%h2 How to use your token

%p To make a request to the ProtonBox REST API, pass the token as an Authorization header
%pre.code
  Authorization: Bearer #{authorization.token}

%p For example, from the command line program cURL use the <code>-H</code> option
%pre.cli
  curl #{RestApi.info.url}/user -H "Authorization: Bearer #{authorization.token}"

%p You can pass this token directly to the <code>pbox</code> command with the <code>--token</code> option:
%pre.cli
  pbox apps --token #{authorization.token}
