Name: community-python-3.3
Version: 0.1
Architecture: i686/x86_64
Provides: community-python-3.3
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: www.openshift.com
DisplayName: community-python-3.3
Bundles:  community-python
Description:
Provides support for running community supported python 3.3 cartridge
