[Unit]
Description=The OpenShift Origin Broker
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/www/openshift/broker/httpd/run/httpd.pid
EnvironmentFile=/etc/sysconfig/openshift-broker
ExecStartPre=/usr/bin/rm -f /var/www/openshift/broker/Gemfile.lock
ExecStartPre=/bin/bash -c 'pushd /var/www/openshift/broker > /dev/null ; bundle install --local > /dev/null; popd > /dev/null'
ExecStartPre=/usr/bin/chown apache:apache /var/www/openshift/broker/Gemfile.lock
ExecStart=/usr/sbin/httpd $OPTIONS -k start
ExecReload=/usr/sbin/httpd $OPTIONS -t
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/httpd $OPTIONS -k stop

[Install]
WantedBy=multi-user.target
