# Settings related to the Active Directory variant of an OpenShift DNS plugin

# The DNS server to update
AD_SERVER="127.0.0.1"

# Whether the AD is requiring secure updates (GSS/TSIG)
AD_SECURE=true

# Kerberos Pricipal to use
KRB_PRINCIPAL="DNS/server1.example.com"

# Kerberos keytab to use
KRB_KEYTAB="/etc/krb5.keytab"

# The base zone for the DNS server
DNS_ZONE="example.com"
