Name: jbossews-2.0
Version: 2.0
Architecture: noarch
Provides: jbossews
Depends: java-1.6.0-openjdk
Conflicts:
Type: Cartridge
Role: misc
Vendor: www.jboss.org
DisplayName: JBossEWS-2.0
Bundles:
Description: 
A Java EE certified platform for developing and deploying enterprise Java
applications, Web applications, and Portals, JBoss Application Server provides
the full range of Java EE 6 features as well as extended enterprise services
including clustering, caching, and persistence.

This cartridge adds support for deploying Java EE applications to a JBossEAP6.0
server.
