//
// Account 
// ----------------------------------

html {height: 100%;}
$noiseImage: image-url('noise.png') !default; 
 

// Nav
// ----------------------------------

.navbar.centered .brand > a > .brand-image:hover,
.navbar.centered .brand > a:hover > .brand-text,
.navbar.centered .brand > a:hover > .brand-image {
  transform: rotate(0);
}
.navbar.centered .brand > a > .brand-image {
  background: image-url("logo-wide-white.png") no-repeat scroll left center transparent;
  transition: none;
  width: 44px;
  height: 42px;
  margin-bottom: 0;
}
.navbar.centered {
    background: transparent;
    border-bottom: 0 solid #383838;
    margin: 0;
    height: 62px;
    padding: 40px 0;
}
.navbar.centered .brand {
    bottom: 0;
    font-size: 36px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    width: 270px;
    background: transparent;
    
    left: 0;
    position: relative;
    top: 24px;
    z-index: 1;
    font-family: $headerFontFamily;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-wrap: normal;
    text-shadow: none;
}
.navbar.centered .brand > a {
    height: 50px;
}
/*.navbar.centered .brand > a {
    height: 42px;
    left: 0;
    position: static;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}*/
.navbar.centered .brand > a > .brand-text {
    border-bottom: 2px solid transparent;
    color: white;
    padding-bottom: 2px;
    text-align: left;
    display: inline;
    left: 60px;
    padding: 10px 0;
    position: absolute;
    top: 0;
}

@media (max-width: 768px) {
  .navbar.centered .brand > a > .brand-image {
    background: image-url("OSlogo32.png") no-repeat scroll left center transparent;
    display: inline-block;
    height: 32px;
    margin-top: 2px;
    vertical-align: middle;
    width: 40px;
    }
  .navbar.centered .brand > a > .brand-text {
    left: 50px;
    letter-spacing: 1px;
  }
  .navbar.centered .brand {
    font-size: 28px;
    width: 235px;
  }
}

h2 + ul, h3 + ul, h4 + ul {
  margin-top: 9px;
}
#web_user_password_input {
  position: relative;
  .help-block {
    text-align: right;
    font-size: smaller;
    margin-top: -5px;
  }
}
#web_user_password_input button.eye {
  background: transparent image-url('eye.png') no-repeat right center;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 92%;
  top:7px;
  border: 0; 
  opacity: 0.25; 
}
#web_user_password_input button.eye:hover,
web_user_password_confirmation_input button.eye:hover {opacity: 1;}

.column-1 {
  width: 45%;
  margin-right: 6.5%;
  float: left;
}
.column-2 {
  width: 48%;
  float: left;
}
.simple.login h1 {
  margin-bottom: 14px;
}
.simple .frame {
  max-width: 768px;
  margin: 0 auto;
}
.simple .frame.primary {
  background: #222;
  color: #DADADA;
  padding: 40px 60px 20px;
}
.simple .frame .max {width: 94%;/* otherwise inputs extend to far */}
.label-hide label {
  display: none;
}
.announcement a, .announcement h4 {color: inherit;}

.simple .frame.announcement {
  background-color: #aaa;
  margin: 30px auto;
  padding: 25px 35px;
  color: #303030;
}
.simple .frame.announcement.outage {
  background-color:#FFD24E;
  margin-bottom: 0;
}
.announcement + .announcement {
    margin-top: 20px;
}
.updates .update { 
  margin-top: 5px;
}

.timestamp {font-size: $baseFontSize - 2;}


@media (max-width: 767px) {
  .column-1, .column-2 {
    width: 98%;
  }
  .column-1 {margin-bottom: 20px;}
  .navbar.centered {
    height: 82px;
    padding: 0;
  }
  .simple .frame.primary {
    padding: 40px 35px 30px;
  }
}
@media (max-width: 480px) {
  .simple .frame.primary,
  .simple .frame.announcement {
    margin: 0 -20px 30px;
    padding: 20px;
  }
  h1.marquee {
  font-size: 30px;
}
}


/* Simple page */

body.simple {
  min-height: 100%;
  background-color: #4e4e4e;
  background-image: 
    $noiseImage,
    -moz-linear-gradient(top,  rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
  background-image: 
    $noiseImage,
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
   background-image: 
    $noiseImage,
    -moz-linear-gradient(top,  rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
  background-image: 
    $noiseImage,
    -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0)));
  background-image: 
    $noiseImage,
    -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
  background-image: 
    $noiseImage,
    -o-linear-gradient(top,  rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
  background-image: 
    $noiseImage,
    -ms-linear-gradient(top,  rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
  background-image: 
    $noiseImage,
    linear-gradient(to bottom,  rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
  background-repeat: 
    repeat,
    repeat;
  background-position: 
    center top,
    center top;  

  position: relative;
  > header {
    background: none;
    min-height: 0;
    .section-top { 
      border-top: 7px solid #333;
      background-color: transparent;
    }
  }
  .section-account {
    @include account_background;
  }
  #content { 
    min-height: 550px;
  }
  .form-actions {
    background: none;
  }
  footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    #footer-nav {
      display: none;
    }
  }
}

.ie9 body.simple .gradient {filter: none;}/* IE9 SVG, needs conditional override of 'filter' to 'none'  */

@media (max-width: 979px) {
  .img-captcha, .img-recaptcha {
    max-width: 275px;
  }
}

@media (max-width: 767px) {
  body.simple {
    background-image: $noiseImage;
    background-repeat: repeat;
    .section-account {
      background-image: none;
    }
    > header {
      min-height: 0;
    }
  }
}
@media (max-width: 480px) {
  body.simple .form-actions {
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .img-captcha, .img-recaptcha {
    max-width: 240px;
  }
}

.graph-horizontal {
  caption {
    caption-side: top;
    font-weight: bold;
    padding: 4px 5px;
    text-align: left;
  }
  
  td { white-space: nowrap; }
  td.graph-data { width: 100%; }

  .graph-element { display: inline-block; border: 1px solid rgba(255,255,255,.1); line-height: 1em; }
  .graph-element + .graph-element { border-left-width: 0px; }

  // Default colors alternate light and dark
  .graph-element { background: rgba(255,255,255,.5); }
  .graph-element:nth-of-type(2n) { background: rgba(255,255,255,.3); }

  // Color based on the client_coa_code of the usage type
  .graph-element.type-1 { background: #00B945; }
  .graph-element.type-2 { background: #0776A0; }
  .graph-element.type-3 { background: #FF8500; }
  .graph-element.type-4 { background: #FF2C00; }
}
