// ALERT STYLES
// ------------

// Base alert styles
.alert {
  background-color: $warningBackground;
  clear: left;
  margin: 15px 0;
  padding: 10px;
  @include border-radius(4px);
  > p:last-child {
    margin-bottom: 0;
  }
}
.alert,
.alert-heading {
  color: $warningText !important;
}

.alert a:link, .alert a:visited, .alert a:hover, alert a:active {
  text-decoration:underline;
  color: $linkColorBlue;
  }
.alert.alert-error a, .alert.alert-error a:hover, .alert.alert-error a:active,
.alert.alert-danger a, .alert.alert-danger a:hover, .alert.alert-danger a:active {
  color:$errorText;
}

// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

// Alternate styles
// ----------------

.alert-success {
  background-color: $successBackground;
  border-color: $successBorder;  
}
.alert-success,
.alert-success .alert-heading {
  color: $successText !important;
}
.alert-danger,
.alert-error {
  background-color: $errorBackground;
  border-color: $errorBorder;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: $errorText !important;
}
.alert-info {
  background-color: $infoBackground;
  border-color: $infoBorder;
  a {
    color: $linkColorBlue;
    &:hover, &:active {
      color: $openshiftBrightRed;
    }
  }
}
.alert-info,
.alert-info .alert-heading {
  color: $infoText !important;
}


// Block alerts
// ------------------------
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
