@import "compass/css3/border-radius";

// ALERT STYLES
// ------------

// Base alert styles
.alert {
  background-color: $warningBackground;
  position: relative;
  clear: left;
  margin: 15px 0;
  padding: 6px 18px;
  overflow: visible;
  line-height: 1.5;
  @include border-radius(2px);
  > p:last-child {
    margin-bottom: 0;
  }
  #flash & {
    margin-top: 0;
  }
}
.alert,
.alert-heading {
  color: $warningText !important;
}

.alert a:link, .alert a:visited, .alert a:hover, alert a:active {
  text-decoration:underline;
  color: $linkColorBlue;
  }
.alert.alert-error a, .alert.alert-error a:hover, .alert.alert-error a:active,
.alert.alert-danger a, .alert.alert-danger a:hover, .alert.alert-danger a:active {
  color:$errorText;
}

// Alert details
.alert.with-alert-details.detailed {
  margin-bottom: 0;
  @include border-bottom-radius(0);
}
.alert-details {
  background-color: $openshiftLightRed;
  border-left-color: #ae1b2d;
  border-right: 2px solid $openshiftRed;
  border-bottom: 2px solid $openshiftRed;
  @include border-bottom-radius(2px);
  ul {
    font-size: 90%;
    li {
      padding-top: 6px;
    }
  }
}

// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

// Alternate styles
// ----------------

.alert-success {
  background-color: $successBackground;
  border-color: $successBorder;  
}
.alert-success,
.alert-success .alert-heading {
  color: $successText !important;
}
.alert-danger,
.alert-error {
  background-color: $errorBackground;
  border-color: $errorBorder;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: $errorText !important;
}
.alert-info, .alert-status {
  background-color: $infoBackground;
  border-color: $infoBorder;
  a {
    color: $linkColorBlue;
    &:hover, &:active {
      color: $openshiftBrightRed;
    }
  }
}
.alert-info,
.alert-info .alert-heading {
  color: $infoText !important;
}


// Block alerts
// ------------------------
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}


// Alert icon blocks
// -----------------------

.section-console,
.column-content {
  .alert {
    border-left: 32px solid $warningBorder;
  }
  .alert.alert-info, .alert.alert-status {
    border-left: 32px solid $infoBorder;
  }
  .alert.alert-success {
    border-left: 32px solid $successBorder;
  }
  .alert.alert-error {
    border-left: 32px solid $errorBorder;
  }
  .alert:before,
  .alert.alert-success:before,
  .alert.alert-error:before,
  .alert.alert-info:before {
    font-family: 'openshift-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    color: #fff;
    position: absolute;
    left: -23px;
    top: 9px;
    opacity: .75;
  }
  .alert.alert-success:before {
    content: "\ee21";
  }
  .alert.alert-info:before,
  .alert.alert-status:before {
    content: "\ee07";
    left: -22px
  }
  .alert:before,
  .alert.alert-error:before {
    content: "\ee01";
    top: 8px;
  }
}

// Text-only alerts
// -----------------------

.error-text { color: $openshiftRed; }