// BUTTON STYLES
// -------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  display: inline-block;
  padding: 5px 18px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight - 2px;
  color: rgba($grayDark, 0.9);
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  vertical-align: middle;
  @include border-radius(2px); 
  @include gradient-vertical($startColor: #ececec, $endColor: #e0e0e0);
  border-color: rgba(5,5,5,0.05) rgba(5,5,5,0.15) rgba(5,5,5,0.2);
  cursor: pointer;
  border-style: solid;
  border-width: 1px;

  // Give IE7 some love
  @include reset-filter();
  @include ie7-restore-left-whitespace();

  *margin-left: .3em; //?
}

.btn:first-child {
  *margin-left: 0;
}


// Hover state
.btn:hover {
  color: #000;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.35) rgba(0,0,0,0.5);
  text-decoration: none;
  @include box-shadow(0 1px 2px rgba(0,0,0,.15));
}

// Focus state for keyboard and accessibility
.btn:focus {
  @include tab-focus();
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.35) rgba(0,0,0,0.5);
  color: #000;
}

// Active state
.btn:active, .dropdown.open .dropdown-toggle:active {
  background-image: none;
  background-color: #ececec;
  outline: 0;
  border-color: rgba(5, 5, 5, 0.4) rgba(5, 5, 5, 0.4) rgba(5, 5, 5, 0.25) rgba(5, 5, 5, 0.25);
  @include box-shadow(none);
  color: inherit;
}

// Disabled state
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: darken($white, 10%);
  border-color: rgba(0, 0, 0, 0.1);
  @include opacity(65);
  @include box-shadow(none);
  &:hover {
    border-color: rgba(0,0,0,.1);
  }
}

input[type="submit"].btn {
  margin-right: 12px;
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 8px 18px;
  font-size: $baseFontSize + .5px; // FIXME
  line-height: normal;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

// Small
.btn-small {
  padding: 5px 10px;
  font-size: $baseFontSize - 2px; // FIXME
  line-height: $baseLineHeight - 2px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 2px; // FIXME
  line-height: $baseFontSize;
}


// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: $baseLineHeight / 2;
  @include box-sizing(border-box);
}

// Vertical spacing
.btn-block + a {
  display: block;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------



.btn-danger,
.btn-inverse {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: $white;
  &:hover, &:active {
    color: $white;
  }
}
.btn-success,
.btn-info,
.btn-warning {
  color: $grayDarker;
}

.btn-primary:hover,
.btn-success:hover,
.btn-info:hover {
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-dark.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds and changes from default
// -------------------------
.btn-primary {
  @include buttonBackground(#dbe7f4, #b1d0f0);
}
.btn-primary:hover,
input[type="submit"].btn-primary:hover,
.btn-primary:focus { 
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.3) rgba(0,0,0,0.45);

}
.btn-primary:active,
input[type="submit"].btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] { 
  background-color: #c1daf4;
}
// Warning appears are orange
.btn-warning {
  @include buttonBackground($warningBackground, darken($warningBackground, 5%));
}
// Danger and error appear as red
.btn-danger {
  @include buttonBackground(lighten($errorBackground, 5%), $errorBackground);
}
// Success appears as green
.btn-success {
  @include buttonBackground($successBackground, darken($successBackground, 5%));
}
// Info appears as a neutral blue
.btn-info {
  @include buttonBackground(lighten($infoBackground, 5%), $infoBackground);
}
// Inverse appears as dark gray
.btn-inverse {
  @include buttonBackground(#505050, #1f1f1f);
  border-color: #010101;
}

// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled],
.btn-link:hover,
.btn-link:focus {
  background-color: transparent;
  background-image: none;
  @include box-shadow(none);
  border-color: transparent;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  @include border-radius(0);
}
.btn-link:hover,
.btn-link:focus {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent;
  
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: $grayDark;
  text-decoration: none;
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
  &.large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
}

.form-actions > img,
.btn-toolbar > img {
  vertical-align: middle;
  }
