// Code.scss
// Code typography styles for the <code> and <pre> elements
// --------------------------------------------------------

// Inline and block code styles
code,
pre {
  padding: 0 3px 2px;
  font-family: $monoFontFamily;
  font-size: $baseFontSize - 1;
  color: $preColor;
  @include border-radius(0);
}

// Inline code
code {
  padding: 1px 4px;
  color: $codeColor;
  background-color: $preBackground;
  border: 1px solid darken($preBackground, 10%);
}

// Blocks of code
pre,
.column-content div.geshifilter pre {
  display: block;
  padding: $baseLineHeight / 1.5 $baseLineHeight;
  margin: 0 0 $baseLineHeight;
  line-height: $baseLineHeight;
  background-color: $preBackground;
  @include border-radius(0);
  border-left: 2px solid $preBorder;
  white-space: pre;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
  overflow: auto;
  font-family: $monoFontFamily !important;

  #flash & {
    background-color: #F7FCF7;
    border-left-color: green;
  }

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: $baseLineHeight;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

pre.pre-scrollable-horizontal {
  overflow-x: auto;
  white-space: nowrap;
  }

// GeshiFilter specific, can be moved into a more generic section
.column-content div.geshifilter {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}
