/* Twitter Bootstrap Customizations
------------------------------------------------ 
------------------------------------------------ */

#content {
	min-height: 400px;
	}

.page-header {
	padding-bottom: 0;
	}


// form overrides
input, 
textarea {
  @include box-shadow(0);
	}
input:focus, 
textarea:focus {
  @include box-shadow(0);
	}

.side-block {
	margin-top: 5px;
  margin-bottom: 0;
  color: #6e6e6e;
  background: #f0f0f0;
  padding: 20px;
	}

// hero overrides
.hero-unit {
  background-color: #f2f2f2;
  @include border-radius(3px);
  box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 20px 25px;
  
  h1 {
    margin-bottom: 0;
    font-size: 35px; // special case
    line-height: 1;
	}
  p, .p {
    font-size: 18px; // special case
    font-weight: 300;
    line-height: 27px;
    margin-bottom: $baseLineHeight;
	}
}

// wizard steps
.wizard-steps {
	margin: 5px 0 13px;
	overflow: hidden;
	}  
.wizard-steps li {
  font-size: $tinyFontSize;
  font-weight: 600;
  float: left;
  padding: 3px 21px;
  text-align: center;
  background-color: #F0F0F0;
  color: #999;
  text-shadow: 0 1px 2px #fff;
  list-style: none;
	}
.wizard-steps li.active {
  color: #000;
  background-color: #d8d8d8;
	}
.thumbnail-video {
	font-size: $baseFontSize;
  &.span2 {
    height: 148px;
    .views-field-field-video-third-party-embed {
      height: 118px;
    }
  }
  img {
    width: 100%;
    }
	}

.icon-loading {
  margin: 0 5px;
  vertical-align: middle;
	}

// Inline list styles from newer bootstrap version
ul.inline, ol.inline {
    list-style: none outside none;
    margin-left: 0;

    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
}


// FORM FIELD FEEDBACK STATES
// --------------------------

// Warning
.control-group.warning {
  @include formFieldState($warningBackground, $warningBackground, $warningBackground, 'warning');
}
// Error
.control-group.error {
  @include formFieldState($errorBackground, $errorBackground, $errorBackground, 'error');
}
// Success
.control-group.success {
  @include formFieldState($successBackground, $successBackground, $successBackground, 'success');
}

/* Print styles */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote footer nav
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



/* Responsive styles */
@media (max-width: 767px) {
	.hero-unit {
  	padding: 0;
  	margin-bottom: 13px;
  	background-color: #fff;
  	border: none;
  	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0;
  	box-shadow: none;
		}
	.hero-unit h1 {
		font-size: 26px; // responsive
		}
}

@media (min-width: 768px) and (max-width: 980px) {	
}

@media (min-width: 1200px) {
}

.social-sharing {
  > a {
    color: inherit;
    margin-left: 4px;

    &:hover {
      color: $linkColorHover;
      text-decoration: none;
    }
  }
}