.font-icon-block {
  display: inline-block;
  position: relative;
  .font-icon:nth-child(n+2) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.font-icon {
  display: inline-block;
  top: 0;
  &.font-icon-inline  {
    position: relative;
  }
}

.font-icon
.font-icon-link {
  color: inherit !important;
}

.gear-number { 
  color: white;
  position: absolute;
}

.gear-number.gear-lg {
  left: 67%;
  top: 51%;
  font-size: 0.36em;
  line-height: 1.35em;
}

.gear-number.gear-sm {
  left: 67%;
  top: 50%;
  font-size: 0.36em;
  line-height: 1.45em;
}

.font-icon-red          {color: #ea0011;}
.font-icon-green        {color: #73D216;}
.font-icon-orange       {color:#ffc10a;}
.font-icon-blue         {color:#6DB3C7;}
.font-icon-grey         {color:#8a8b8c;}
.font-icon-white        {color:#fefefe;}

.font-icon-size-10      {font-size: 10px;}
.font-icon-size-12      {font-size: 12px;}
.font-icon-size-16      {font-size: 16px;}
.font-icon-size-18      {font-size: 18px;}
.font-icon-size-24      {font-size: 24px;}
.font-icon-size-34      {font-size: 34px;}
.font-icon-size-44      {font-size: 44px;}


h1[class*="icon-"]:before,
h2[class*="icon-"]:before {
  left: -8px;
  margin-left: 8px;
}
h3[class*="icon-"]:before,
h4[class*="icon-"]:before,
h5[class*="icon-"]:before {
  left: -6px;
  margin-left: 6px;
}

h1, h2, h3 {
  .font-icon-block {
    margin-right: .3em;
    bottom: 5px;
  }
}
h4, h5, h6 {
  .font-icon-block {
    margin-right: .15em;
    bottom: 3px;
  }
}

 
