@font-face {
	font-family: 'openshift-logos-icon';
	src:font-url('openshift-logos-icon.eot');
	src:font-url('openshift-logos-icon.eot?#iefix') format('embedded-opentype'),
		font-url('openshift-logos-icon.woff') format('woff'),
		font-url('openshift-logos-icon.ttf') format('truetype'),
		font-url('openshift-logos-icon.svg#openshift-logos-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
.logo[data-icon]:before {
	font-family: 'openshift-logos-icon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-github, .icon-git, .icon-java, .icon-rails, .icon-php, .icon-ruby, .icon-django, .icon-nodejs, .icon-jenkins, .icon-python, .icon-go-gopher, .icon-perl, .icon-zend, .icon-jboss, .icon-tomcat, .icon-spring, .icon-mysql-dolphin, .icon-postgresql, .icon-mongodb, .icon-mariadb, .icon-wordpress, .icon-drupal, .icon-codeigniter, .icon-shadowman, .icon-stackoverflow, .icon-aerogear, .icon-capedwarf, .icon-redis {
	font-family: 'openshift-logos-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	 /* added for spacing the following */
	 left: -4px;
   margin-left: 4px;
   position: relative;
}

.icon-github:before {
	content: "\f101";
}
.icon-git:before {
	content: "\f102";
}
.icon-java:before {
	content: "\f103";
}
.icon-rails:before {
	content: "\f104";
}
.icon-php:before {
	content: "\f105";
}
.icon-ruby:before {
	content: "\f106";
}
.icon-django:before {
	content: "\f107";
}
.icon-nodejs:before {
	content: "\f108";
}
.icon-jenkins:before {
	content: "\f109";
}
.icon-python:before {
	content: "\f110";
}
.icon-go-gopher:before {
	content: "\f111";
}
.icon-perl:before {
	content: "\f112";
}
.icon-zend:before {
	content: "\f113";
}
.icon-jboss:before {
	content: "\f114";
}
.icon-tomcat:before {
	content: "\f115";
}
.icon-spring:before {
	content: "\f116";
}
.icon-mysql-dolphin:before {
	content: "\f117";
}
.icon-postgresql:before {
	content: "\f118";
}
.icon-mongodb:before {
	content: "\f119";
}
.icon-mariadb:before {
	content: "\f120";
}
.icon-wordpress:before {
	content: "\f121";
}
.icon-drupal:before {
	content: "\f122";
}
.icon-codeigniter:before {
	content: "\f123";
}
.icon-shadowman:before {
	content: "\f124";
}
.icon-stackoverflow:before {
	content: "\f125";
}
.icon-aerogear:before {
	content: "\f126";
}
.icon-capedwarf:before {
	content: "\f127";
}
.icon-redis:before {
	content: "\f128";
}

