
.clear-both { clear: both; }

.nowrap { white-space: nowrap !important; }
.left { text-align: left !important; }
.center { text-align: center !important; }
.right { text-align: right !important; }
.top { vertical-align: top; }

.invisible {
  border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
	}
