//
// Account 
// ----------------------------------

$noiseImage: image-url('noise.png') !default;
$smallFontSize:           13.5px;
@mixin account_background {
  background-color: transparent;
  background-image: image-url('mts-bottom-transparent.png');
  background-repeat: repeat-x;
  background-position: left 100% bottom 70px;
}



html.highlight {background-color: #3e3e3e; /* override light background in _base */}

body.simple {
  min-height: 100%;
  &.login h1 {
    margin-bottom: 14px;
  }
  #content { 
    min-height: 550px;
  }
  .form-actions {
    background: none;
  }
  .frame {
    max-width: 768px;
    margin: 0 auto 30px;
    &.announcement {
      background-color: #aaa;
      padding: 25px 35px;
      color: #303030;
      &.outage {
        background-color: #FFD24E;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid;
        }
      }
      .timestamp {
        font-size: $smallFontSize;
      }
    }
    &.primary {
      background: #222;
      color: #DADADA;
      padding: 40px 60px 20px;
      a {
        color: #b7d3f1;
        text-decoration: underline;
        &.btn {
          text-decoration: none;
        }
      }
      .btn:link, .btn:visited, .btn:hover {
        color: rgba(47, 47, 47, 0.9);
      }
      .btn:hover {
        color: #000;
      }
      .btn:active {
        color: #222;
      }
      h1, h2 {
        color: #fafbfc;
      }
      input[type="text"], input[type="password"] {
        background: #ddd;
        border-color: #222;
        color: #222;
        &:focus {
          background-color: #fefefe;
          border-color: rgba(82,168,236,0.8);
          color: #000;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
    .max {
      width: 94%; /* otherwise inputs extend to far */
    }
  }
  > header .section-top { 
      border-top: 7px solid #333;
      background-color: transparent;
  }
  }
#wrap {
  @include account_background;
}
iframe {
  display: none;
}

.column-1 {
  width: 45%;
  margin-right: 6.5%;
  float: left;
}

.column-2 {
  width: 48%;
  float: left;
}

.graph-horizontal {
  caption {
    caption-side: top;
    font-weight: bold;
    padding: 4px 5px;
    text-align: left;
  }
  td { white-space: nowrap; }
  td.graph-data { width: 100%; }
  .graph-element { display: inline-block; border: 1px solid rgba(255,255,255,.1); line-height: 1em; }
  .graph-element + .graph-element { border-left-width: 0px; margin-left: -1px;}
  // Default colors alternate light and dark
  .graph-element { background: rgba(255,255,255,.5); }
  .graph-element:nth-of-type(2n) { background: rgba(255,255,255,.3); }
  .graph-element.type-1  { background: #00B945; }
  .graph-element.type-2  { background: #0776A0; }
  .graph-element.type-3  { background: #FF8500; }
  .graph-element.type-4  { background: #FF2C00; }
  .graph-element.type-5  { background: #5D2680; }
  .graph-element.type-6  { }
  .graph-element.type-7  { }
  .graph-element.type-8  { }
  .graph-element.type-9  { }
  .graph-element.type-10 { }
}

h2 + ul, h3 + ul, h4 + ul {
  margin-top: 9px;
}

.label-hide label {
  display: none;
}

.navbar.centered {
  background: transparent;
  border-top: 0;
  .brand {
    float: none;
    margin: 30px 0;
    > a {
      display: block;
      height: 41px;
      margin: 0 auto;
      position: relative;
      width: 270px;
      &:hover:after {
        bottom: -3px;
        left: 64px;
        right: 3px;
      }
      .brand-image {
        background: image-url('openshift-logo-horizontal.svg') no-repeat;
        background-size: 100%;
        height: 41px;
        margin: 0;
        width: 270px;
        .ie6 &, .ie7 &, .ie8 & {
          background-image: image-url('openshift-logo-horizontal.png');
        }
      }
    }
  }
}

#web_user_password_input {
  position: relative;
  button.eye {
    background: transparent image-url('eye.png') no-repeat right center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 92%;
    top:7px;
    border: 0; 
    opacity: 0.25;
    &:hover {
      opacity: 1;
    }
  }
  .help-block {
    text-align: right;
    font-size: $smallFontSize;
    margin-top: -5px;
  }
}


@media (max-width: 979px) {
  .img-captcha, .img-recaptcha {
    max-width: 275px;
  }
}

@media (max-width: 767px) {
  body.simple {
    .frame.primary {
      padding: 40px 35px 30px;
    }
    .section-account {
      background-image: none;
    }
  .column-1, .column-2 {
    width: 98%;
  }
  .column-1 { margin-bottom: 20px; }
  }
  .navbar.centered .brand {
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  body.simple {
    .form-actions {
      padding-left: 0;
    }
    .frame.primary,
    .frame.announcement {
      padding: 20px;
    }
  }
  h1.marquee {
    font-size: 30px; // FIXME
  }
}

@media (max-width: 320px) {
  .img-captcha, .img-recaptcha {
    max-width: 240px;
  }
}
