/* OPENSHIFT MANAGEMENT CONSOLE

Color palette
--------------------------------------------
  0   0   0    000000     Black
177 229 242    b1e5f2			Primary Blue
 54  53  52    363634     Primary Dark Gray
 77  79  83    4d4f53     Cool Gray 11
154 155 156    9a9b9c     Cool Gray 7
188 189 188    bcbdbc     Cool Gray 4
224 225 221    e0e1dd     Cool Gray 1
255 255 255    ffffff     White
234   0  17    ea0011     Bright Red
205  32  44    cd202c     Primary Red
161   0  12    a1000c     Dark Red

*/
@import "console/base";

@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";

@import "console/navbar";
@import "console/help";
@import "console/breadcrumbs";
@import "console/ribbon";
@import "console/buttons";
@import "bootstrap/dropdowns";
@import "console/dropdowns";
@import "console/tile";
@import "console/application";

@import "console/core";
