Name: 10gen-mms-agent-0.1
Version: 1.0.x
Architecture: noarch
Provides: 10gen-mms-agent
Depends: openshift-origin-cartridge-mongodb-2.2
Conflicts:
Type: Cartridge
Role: misc
Vendor: https://mms.10gen.com/
DisplayName: 10gen MMS Agent
Description: 
A cloud-based monitoring and alerting solution for all MongoDB deployments.
Features - http://mms.10gen.com/help/
