%td
  .label.label-important
    = "!"
%td.suggestion-body
  - case size
  - when :short  # just the basic facts about the suggestion
    .lead
      Error occurred while generating suggestions
    %div
      There was an error while generating suggestions. This may be a system failure
      such as being unable to contact MongoDB or ActiveMQ.

  - when :full  # the full monty
    .lead
      Error occurred while generating suggestions  
    %p
      There was an error while generating suggestions. This may be a system failure
      such as being unable to contact MongoDB or ActiveMQ.
    %p
      The details of the error are:
    %pre.pre-scrollable
      = suggestion.error.inspect
    %p
      The stack trace for the error is:
      %pre.pre-scrollable
        &= suggestion.stack.map(&:to_s).join("\n")
