%td
  .label.label-info
    = "?"
%td
  - case size
  - when :short  # just the basic facts about the suggestion
    %div
      Generic suggestion of type
      &= suggestion.class

  - when :full  # the full monty
    %div
      There was suggestion of type
      &= suggestion.class
      which doesn't have a display method. Please add a view for this type of suggestion.
    %div
      The suggestion contains the following values:
      - require 'pp'
      %pre
        = suggestion.pretty_inspect
