# Settings related to the GSS-TSIG variant of an OpenShift DNS plugin

# The DNS server to update
SERVER="127.0.0.1"

# Kerberos Pricipal to use
KRB_PRINCIPAL="DNS/server1.example.com"

# Kerberos keytab to use
KRB_KEYTAB="/etc/krb5.keytab"

# The base zone for the DNS server
DNS_ZONE="example.com"
