%section
  %p
    Based on: #{link_to application_template.git_project_url, application_template.git_project_url, :target => "_blank"}.<br /> 
    %strong Note:
    check the repository README file for any additional instructions.
