/***********************************************************
* Application standard layouts
*/

.application {
	position: relative;
  &.warning {
  	border-left: 2px solid #bb161c;
	}
  > h1 {
    .name {
      display: inline-block;
    }
    .url-default .name {
      display: inline;
    }
    .url-alias {
      margin-left: 10px;
    }
    .url-alter {
      font-size: $tinyFontSize;
      margin-left: 10px;
    }
  }
  .cartridges {
    font-size: $tinyFontSize;
    font-weight: 300;
  }
  .flow-block {
    #app-list & {
      .count {
        font-weight: 300;
        .gear-icon {
          font-size: 16px;
        }
      }
    }
    span > {
      a:visited, a:link {
        color: inherit;
      }
      a:hover, a:active {
        color: $openshiftBrightRed;
        text-decoration: none;
      }
    }
    .url-icon {
      bottom: -5px;
      position: relative;
    }
  }
	.gear-numbers {
		color: #bcbdbc;
	}
}

.applications, .domains {
  .section-body .row {
    .span4 {
      font-weight: 300;
      > h2 {
        font-size: $h6FontSize;
        font-weight: 400;
        line-height: $h6LineHeight;
        margin-bottom: 5px;
      }
      label {
        font-weight: 300;
      }
      strong {
        font-weight: 400;
      }
    }
    .span8 {
      > h2 {
        font-size: $h4FontSize;
        line-height: $h4LineHeight;
        margin-bottom: $h4MarginBottom;
      }
      .span4 > h3, .span5 > h3 {
        font-size: $h5FontSize;
        line-height: $h5LineHeight;
        margin-bottom: $h5MarginBottom;
      }
      .tile h3 {
        font-size: $h2FontSize;
        line-height: $h2LineHeight;
        margin-bottom: -5px;
      }
    }
  }
}

.application-suggestions {
  font-size: $tinyFontSize;
}

#app-cartridges {
  .cartridge-block {
    position: relative;
    &.cartridge-embedded {
      border-top: 1px dashed $consolePanelBorderColor;
    }
    .cartridge-inset {
      padding: 15px 20px;
    }
    .data .gear-icon {
      color: #bbb;
      font-size: 11px;
      margin-right: 3px;
    }
    .flow-block.right > span {
      font-weight: 300;
      strong {
        font-weight: 400;
      }
    }
    h3, h4 {
      line-height: 1;
      margin-bottom: 0;
    }
    h3 {
      font-size: $h4FontSize;
      .font-icon {
        color: #bbb;
        font-size: 13px;
        margin-right: 4px;
      }
    }
    h4 {
      font-size: $h6FontSize;
      font-weight: 300;
      margin-bottom: 3px;
    }
    input {
      border: 1px dotted #444;
      @include border-radius(0);
      color: #BABBBC;
      background-color: inherit;
      cursor: inherit;
      @include box-sizing(border-box);
      width: 100%;
      height: 28px; 
    }
    p {
      margin-top: $baseLineHeight*0.25;
      margin-bottom: 0;
    }
    .warning {
      color: #EB0011;
    }
  }
  .gear-group { /* mimic tile */
    background: $consolePanelColor;
    @include panel_default_boxshadow();
    color: $consoleTextColorDefault;
    margin-bottom: 20px;
    .cartridge-block.cartridge-error .cartridge-border:before {
      position: absolute;
      border-left: 6px solid $openshiftBrightRed;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
    }
  }
}

#aliases li > a {
  @include truncate();
  max-width: 65%;
  //display: inline-block; // makes empty array unbalanced
}

.form-search {
  .btn:first-child {
    border-radius: 0;
  }
  span.dropdown { 
    display: inline-block; 
  }
  .btn .caret {
    border-top-color: white;
  }
  .dropdown-toggle {
    @include box-shadow;
  }
  &.open .dropdown-menu { 
    border-radius: 0; 
  }
}

.gauge-vertical {
  line-height: 7px;
  position: absolute;
  top: -3px;
  right: -6px;
  font-size: 36px;
  width: 1px;
  white-space: normal;
  > .empty { 
    opacity: 0.5;
  }
  > .fill  { 
    opacity: 1.0;
  }
}

.indicator-gear-increase {
  display: inline-block;
  font-weight: 600;
  padding: 3px 6px;
  cursor: default;
  [data-icon] {
    font-size: 12px;
    color: #999;
  }
}

#new_application {
  .application_type {
    margin-bottom: 0;
  }
  .controls {
    select.domain_name {
      height: 38px;
      vertical-align: middle;
    }
  }
  ol.spaced-items > li {
    line-height: 28px; // match SELECT
    margin-bottom: 3px;
  }
  .tile-align {
    margin-bottom: 5px;
  }
  select {
    vertical-align: baseline;
    margin-bottom: auto;
    width: auto;
    max-width: -moz-available;
  } // refactor me to a marker class
}

@media (max-width: 479px) {
  #new_application .controls {
    .add-on, .add-on {
      clear: left;
      display: block;
      padding: 8px 0;
      width: 100% !important;
    }
    .add-on.middle {display: none;}
    .input-prepend, .input-append,
    .input-prepend input, .input-append input,
    .input-prepend input, .input-append input {
      display: block;
      margin: 0 -1px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      vertical-align: bottom;
      width: 100%;
    }
  }
}
