/***********************************************************
* Application standard layouts
*/

.applications {
  .application {
    .flow > .flow-block.right {
      white-space: nowrap;
    }
  }

  .application + .domain {
    margin-top: 20px;
  }

  .domain {
    padding-bottom: 5px; 
  }  
}

.application {
	position: relative;

  a:hover, a:active {
    opacity: 1;
  }

  &.warning {
  	border-left: 2px dashed #bb161c;
	}

  > h1 {
    .url {
    }
    .url-alias {
    }
    .url-default {
      > .name {
        color: white;
        margin-right: 0;
      }
      > .url {
      }
    }
    .url-alter {
      font-size: $h5FontSize;
    }
  }

  .name {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 5px;
  }

  .cartridges { margin-top: -10px; }

  .domain { position: absolute; top: 1px; }

  .gear { 
    opacity: 0.8; 
    > .gear-icon:before {
      opacity: 0.4;
    }
  }

  .flow-block {
    a:visited, a:link {
      color: inherit;
    }

    > .gear { 
      display: inline-block;
      margin-right: 30px;
      min-width: 60px;
      white-space: nowrap;
      position: relative;
    }
    > .url { 
      margin-right: 10px;
      position: relative;
      > .url-icon {
        position: relative;
        bottom: -4px;
      }
      a {
        color: #333;
      }
    }
  }

	.gear-numbers {
		color: #bcbdbc;
	}
  .emblem {
  	vertical-align: middle;
  	padding: 2px 0;

    margin-right: 15px;
    margin-top: 6px;
    img {
  		margin-right: 7px;
		  vertical-align: middle;
  	}
  }
}

.gauge-vertical {
  line-height: 7px;
  position: absolute;
  top: -3px;
  right: -6px;
  font-size: 36px;
  width: 1px;
  white-space: normal;

  > .empty { 
    opacity: 0.5;
  }
  > .fill  { 
    opacity: 1.0;
  }
}

.section-header > .application {

  > .url {
    line-height: 36px; // chosen to match h1
    font-size: $largeFontSize;
  }

  // move these under .application
	.emblem {	
    img {
      vertical-align: middle;
      margin-right: 13px;
      margin-bottom: 3px;
    }
  }
	.total-cost {	
		font-size: 32px; //FIXME
		font-weight: 200;
		margin-top: 10px;
		padding-right: 30px;
    text-align: right;
	}
}

.application_type.tile {
  margin-bottom: 10px;
}

#aliases li > a {
  @include truncate();
  max-width: 65%;
  //display: inline-block; // makes empty array unbalanced
}

@media (max-width: 480px) {
  .application {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 70%;
    }
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .section-header > .application {
    margin-right: 0;
    left: 0;
  }
  .application {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 70%;
    }
    .emblem {
      margin-right: 7px;
    }
  }
}

@media (max-width: 767px) {
  .application {
    .cartridges {
      margin-top: -5px;
    }

    .flow-block {
      > .gear {
        display: inline;
        margin-right: 6px;
        min-width: auto;
      }
      > .url {
        margin-right: 5px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .application {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      //max-width: 375px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .console.index .application {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      //max-width: 475px;
    }
  }
}


@media (min-width: 1200px) {
  .console.index .application {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 565px;
    }
  }
}

.indicator-gear-increase {
  border: 1px dotted #999;
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  font-weight: bold;
  padding: 3px 6px;
  cursor: default;
}

#new_application {
  .application_type {
    margin-bottom: 0;
  }
  ol.spaced-items > li {
    line-height: 28px; // match SELECT
    margin-bottom: 3px;
  }
  .tile-align {
    margin-bottom: 5px;
  }
  select {
    vertical-align: baseline;
    margin-bottom: auto;
    width: auto;
    max-width: -moz-available;
  } // refactor me to a marker class
}

.form-search {
  .btn:first-child {
    border-radius: 0;
  }
  span.dropdown { 
    display: inline-block; 
  }
  .btn .caret {
    border-top-color: white;
  }
  .dropdown-toggle {
    @include box-shadow;
  }
  &.open .dropdown-menu { 
    border-radius: 0; 
  }
}

#new_application .controls {
  select.domain_name {
    height: 38px;
    vertical-align: middle;
  }
}

@media (max-width: 479px) {

  #new_application .controls {
    .add-on, .add-on {
      clear: left;
      display: block;
      padding: 8px 0;
      width: 100% !important;
    }
    .add-on.middle {display: none;}
    .input-prepend, .input-append,
    .input-prepend input, .input-append input,
    .input-prepend input, .input-append input {
      display: block;
      margin: 0 -1px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      vertical-align: bottom;
      width: 100%;
    }
  }  
}


$cartridgeBorderWidth: 10px;

#app-cartridges {
  header {
    padding-left: $gridGutterWidth;

    h3 {
      margin: 4px 0;
    }

    .btn-add-cart {
      display: inline-block;
      padding: 9px 8px 8px 20px;
      position: relative;
      width: 130px;
      color: #9a9b9c;
      text-decoration: none;
      font-size: $tinyFontSize;
      text-transform: uppercase;
      font-family: $headerFontFamily;
      border-left: 2px solid transparent;

      span.sprite {
        background-position: 10px -50px;
        background-color: #1d1d1d;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        color: #fff;
        background: #1c1c1c;
        border-color: black;
        span {
          background-color: #b1e5f2;
          background-position:-26px -50px;
        }
      }
    }
  }

  .gear-group {
    margin-top: 5px;
    margin-bottom: 15px;
    border-bottom: 3px solid #2a2a2a;
  }

  .cartridge-block {
    border-top: 3px solid #2a2a2a;

    .cartridge-border {
      background: image-url('cartridge-edge.gif') repeat-y;
      padding-left: 10px;
    }

    .cartridge-inset {
      background-color: #1d1d1d;
      border: 1px solid #101010;
      border-width: 2px 0;
      padding: 15px ($gridGutterWidth - $cartridgeBorderWidth);
    }

    h2, h3, h4 {
      margin-bottom: 0;
      //text-overflow: ellipsis;
      //overflow: hidden;
      //white-space: nowrap;
    }

    p {
      margin-top: $baseLineHeight*0.25;
      margin-bottom: 0;
    }

    /* &.warning { border-left: 2px dashed red; }*/
    .warning {
      color: #EB0011;
    }

    input {
      border: 1px dotted #444;
      @include border-radius(0);
      color: #BABBBC;
      background-color: inherit;
      //@include font-family-monospace();
      cursor: inherit;
      @include box-sizing(border-box);
      width: 100%;
      height: 28px; // border-box height
      //width: -moz-available;
    }
  }

  .cartridge-block.cartridge-embedded .cartridge-inset {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


@media (max-width: 480px) {
  .embedded .view-cart-details {
    position: inherit;
    }

  #app-cartridges {
    @include expand_for_phone(false);
    header {
      padding-left: $gridGutterWidthPhone;
    }
    .cartridge-block .cartridge-inset {
      padding-left: $gridGutterWidthPhone - $cartridgeBorderWidth;
      padding-right: $gridGutterWidthPhone - $cartridgeBorderWidth;
    }
  }
}

@media (max-width: 767px) {
  #app-cartridges {
    header {
      padding-left: $gridGutterWidthTablet;
    }
    .cartridge-block .cartridge-inset {
      padding-left: $gridGutterWidthTablet - $cartridgeBorderWidth;
      padding-right: $gridGutterWidthTablet - $cartridgeBorderWidth;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
}

@media (min-width: 980px) and (max-width: 1199px) {
  #app-cartridges {
    header {
      padding-left: $gridGutterWidth;
    }
    .cartridge-block .cartridge-inset {
      padding-left: $gridGutterWidth - $cartridgeBorderWidth;
      padding-right: $gridGutterWidth - $cartridgeBorderWidth;
    }
  }

}

@media (min-width: 1200px) {
}
@media (max-width: 979px) {
}
@media (min-width: 980px) {
}


.cartridge_type.installed,
.cartridge_type.inactive,
.section-console-light .cartridge_type.installed > h3,
.section-console-light .cartridge_type.inactive > h3 {
  color: #888;
}
.cartridge_type.inactive,
.cartridge_type.installed {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: default;
}
