.breadcrumb {
  color: #666;
  font-size: $smallText;
  list-style: none;
  margin: -35px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;

  a,
  a:hover,
  a:visited {
    color: #666;
    white-space: nowrap;
  }

  .active {
    color: #444;
    a,
    a:hover,
    a:visited  {
      color: #444;
    }
  }

  .divider {
    color: #e22434;
    padding: 0 5px;
  }

  li {
    float: left;
    margin: 0;
  }
}

@media (max-width: 979px) {
  .breadcrumb {
    margin-top: -30px;
  }
}

@media (max-width: 767px) {
  .breadcrumb {
    display: none;
  }
}
