.alert {
  word-wrap: break-word;
  text-shadow: none;
}

.label-new { color: #101010 !important; background-color: #FFB02E !important; }
.label-premium { color: #101010 !important; background-color: #A6C911 !important; }
.label-popular { color: #101010 !important; background-color: #BFDCE8 !important; }

h3 .label { font-size: inherit; margin: 0 0 0 10px; }

.account-total {
	font-size: $h1FontSize;
	margin-top: 20px;
	}

.error-reference { color: #606060 }

pre.cli {
	color: $cliColor;
}

@media (max-width: 767px) {
  .form-horizontal .control-label {
    float: none;
    text-align: left;
    }
  .form-horizontal .controls {
    margin-left: 0;
    }
  .form-horizontal .form-actions {
    padding-left: 10px;
    }
}


.section-console label {
  color: #cfcfcf;
  }

.console-inner-block {
    background: #222222;
    color: #B0B0B0;
    margin-left: 0;
    padding: 25px 0;
}

@media (max-width: 767px) {
    .console-inner-block {
        padding: 25px;
    }
}

.text-warning {
    color: #EED99D;
}
.block {
  display: block;
}

// Disabled and read-only inputs
/*input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #444;
  border-color: #111;
  cursor: not-allowed;
  color:#ccc;
}

input[type="radio"], input[type="checkbox"],input[type="image"] {
  width: auto;
}
*/

.well {
  background-color: #242424 /*.*/;
}
.platform {
  background-color: $grayMedium; /* for use with disabled input[type=file] so button text can be visible */
  min-height: 20px;
  padding: 19px;
  margin: 20px 0;
  border: 1px solid $openshiftAlmostBlack;
  border: 1px solid rgba(0,0,0,.5);
  @include border-radius(4px);
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}


ol.wizard {
  margin: 0 0 15px 5px;
  display: block;
  }
ol.wizard li {
   background-position: 0 -84px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: $largeFontSize;
  line-height: 25px;
  list-style-position: inside;
  list-style-type: none;
  margin: 0 50px 10px 0;
  padding: 10px 0 10px 45px;

  &:last-child {
    margin-right:0;
  }
}
ol.wizard li span {
  height: 40px;
    position: relative;
    vertical-align: baseline;
  }
  ol.wizard li span i {
    border: 4px solid #505050;
    background: #222;
    border-radius: 30px;
    font-style: normal;
    height: 33px;
    left: -51px;
    line-height: 33px;
    position: absolute;
    text-align: center;
    top: -13px;
    width: 33px;
    font-weight: bold;
    }
ol.wizard li.active {
  color: #EB0011;
  }
ol.wizard li a {
  color: inherit;
  }

@media (max-width: 767px) {
  ol.wizard {
    display:block;
    margin: 0 0 15px;

    li {
      background-position: 0 -84;
      background-repeat: no-repeat;
      display: inline-block;
      font-size: inherit;
      line-height: 25px;
      list-style-position: inside;
      list-style-type: none;
      margin: 0;
      padding:0 30px 10px 25px;

      span i {
        background:none;
        border:none;
        font-style:normal;
        font-weight:bold;
        height:35px;
        left:-20px;
        line-height:32px;
        position:absolute;
        text-align:center;
        top:center;
        width: 8px;
        top: -8px;
      }
    }
  }
}

@media (max-width: 480px) {
  ol.wizard li {
    display:block;
  }
}


.section-console {
  padding-top: 25px;
  padding-bottom: 60px;
}

.section-console {
  background-color: #1f1f1f;
  @include console_background;
}

.ie9 .section-console {
  background-color: #1f1f1f;
  @include console_background_ie9;
}
@media (max-width: 767px) {
  .ie9 .section-console {
    background-color: #1f1f1f;
    background-image: none;
  }
}

figure {
  background: black;
  padding: 5px;
  }
.sprite {
  background-image: image-url("console/console-sprite.png");
  background-repeat: no-repeat;
  }

.section-header {
  background: #262626;
  border-bottom: 3px solid #2f2f2f;
  margin: 5px 0 3px 5px;
  padding: 15px 0 3px;
  position: relative;

  > nav {
    position: relative;
    left: -5px;
    margin-right: -10px;
    }
}

#footer-nav {
  background: #070707;
}

.row-console > .row {
  background: #000;
  color: #babbbc;
}

.section-console-light .row-console > .row {
  background: none repeat scroll 0 0 #292929;
   color: #dadada;
   min-height: 400px;

	.divide, legend {
		border-bottom: 2px solid #555;
		margin-bottom: 0;
		font-family: $headerFontFamily;
	}
	
	.divide {
  	margin-bottom: $baseLineHeight;
	}
}

.row > .column-content {
  padding-top: 0;
}

.row > .column-content > :first-child {
  margin-top: 25px;
}


.header-bar {
  display: table;
  width: 100%;
  @include box-sizing(border-box);
  height: 34px;
  position: relative;
  background: $grayDark;
  h3,h4,h5 {
    display:table-cell;
    vertical-align:middle;
    margin: 0;
  }
  .header-btn {
    display:table-cell;
    vertical-align:middle;
    text-align:right;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    .header-btn-title {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      padding-right: 20px;
      font-family: $headerFontFamily;
      border-right: 1px solid rgba(255, 255, 255, 0.075);
    }
    a {
      color: #9A9B9C;
      vertical-align:middle;
      display: table;
      height: 100%;
      width: 100%;
      font-size: $tinyFontSize;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        color: $linkTextDarkBackground;
        .font-icon {
          background: $buttonBlueHover;
          color: $grayDarker;
          @include icon-text-shadow(rgba(255, 255, 255, 0.75));
        }
      }
      .font-icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: $tinyFontSize;
        height: 100%;
        width: 34px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        background: $grayDarker;
      }
    }
  }
}


aside .header-bar {
  margin-bottom: $baseLineHeight / 3;
  height: 26px;
  background: transparent;
  .header-btn {
    a {
      font-size: $tinyFontSize;
      .header-btn-title {
        padding: 0;
        text-align: center;
      }
      .font-icon {
        font-size: $tinyFontSize;
        width: 24px;
      }
    }
  }
}


.sidebar {
  border-bottom: 1px dotted $grayMedium;
  margin-bottom: $baseLineHeight; 	
}

@media (max-width: 767px) {
  .section-console {
    background: #010101;
    padding-bottom: 0;
    padding-top: 0;
  }
  .section-console-light { background: #292929; }

  .section-header {
    margin-left: 0;
  }
  .row > .section-header {
    margin-top: 3px;
    @include expand_for_phone();
  }
}

#app-list {
 margin-top: 0;
 color: #babbbc;
}

.table-data {
  td,
  th {
    border: 0;
    text-align: right;
    vertical-align: middle;
  }
  td:first-child,
  th:first-child {
    text-align: left;
  }
  tr:last-child td {
    border-top: 1px solid #232323;
    color: #8ADDF2; //breaks regular tables
  }
  tbody tr:hover td,
  tbody tr:hover th {
    background-color:transparent;
  }

}

#app-list {
  .btn-toolbar {
    margin-right: 10px;
  }
}

.line-item-title {
  margin-left: 15px;
}
.status {
    display: inline-block;
    float: left;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    background-color: #333;
  }
  .status-important {
    background-color: #900;
  }

.nav {
  margin-bottom: 6px;
  }
.nav-pills.console-overview {
  margin-right: -2px;
  }
.nav-pills.console-overview > li {
  text-align: center;
  width: 33.3%;
  }
.nav-pills.console-overview > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  color: #bebebe;
  background-color: #292929;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #bebebe;
  font-size: $smallFontSize;
  }
    .nav-pills.console-overview > li > a:hover {
      color: #212121;
      /*background-color: #808184;*/
      background-color: #b1e5f2;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#b1e5f2), to(#7ca1aa));
      background-image: -webkit-linear-gradient(top, #b1e5f2, #7ca1aa);
      background-image:    -moz-linear-gradient(top, #b1e5f2, #7ca1aa);
      background-image:     -ms-linear-gradient(top, #b1e5f2, #7ca1aa);
      background-image:      -o-linear-gradient(top, #b1e5f2, #7ca1aa);
      background-image:         linear-gradient(to bottom, #b1e5f2, #7ca1aa);
    }

.nav-pills.console-overview .active > a,
.nav-pills.console-overview .active > a:hover {
  color: #212121;
  background-color: #808184;
  cursor: default;
  }

.form-actions {
    background-color: transparent;
    border-top: 0;
    padding-top: 0;
}

a.skip-navigation {
  position: absolute;
  top: -1000px;
}

a.console-link {
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
    padding: 8px 3px;
    color: inherit;
    }
    a.console-link:hover {
      color:#fff;
      text-decoration: none;
      }
    a.console-link .sprite {
      background: image-url('sprite-vert.png') 0 -111px no-repeat;
      display: inline-block;
      height: 18px;
      position: absolute;
      right: -15px;
      top: 6px;
      width: 10px;
      }
      a.console-link:hover .sprite {
        background-position: 0 -54px;
        }
a.cap-link {
  font-family: $headerFontFamily;
  text-transform: uppercase;
  padding: 8px 10px;
  color: #555;
  font-size: $tinyFontSize;
}
a.cap-link:hover {
  color: #bebebe;
}


.btn-console-header {
  height: 36px;
  padding: 2px;
  position: relative;
  width: 33px;
  border: 1px solid transparent;
  opacity: .75;
  &:hover, &.highlight {
    //border-color: rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.2);
    opacity: 1;
  }
  &:active {
    border-color: #B1E5F2;
  }
}

#secondary {
  a {
  color: inherit;
  }
  h5 {
    margin: 0 0 3px 0;
  }
}

.section-console h6 {
  color: #9a9b9c;
  font-weight: normal;
  }
.section-console .bits .data {
  color: #eaebec;
  text-transform: uppercase;
  font-size: $h6FontSize
  }

.italics {font-style: italic;}


//  Responsive customizations
//  -----------------------------------------------------

@media (max-width: 767px) {
  .section-console .base {
    float: none;
    display: block;
    margin-left: 0;
    }
  .section-console-light {
    //padding:0 20px;
    }
  .row > strong {
    display: block;
    float: none;
    margin: 0;
    width: auto;
  }

  .total-cost {
    font-size: 23px; // responsive
    float: left;
    margin-left: 28px;
  }
  #secondary {
    margin: 0 30px;
    }
  #my-apps li h2 {
    float: right;
    }
  section#console-mast .row ul.unstyled-flat li.span7.right { text-align: left; }
  .form-horizontal .controls {
    margin-left: 0;
    }
  .form-horizontal .control-label {
    float: none;
    text-align: left;
    }
  .control-group.error p+p {
    padding-left: 0 !important;
    display:block;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .total-cost {
    font-size: 23px; // responsive
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
@media (max-width: 979px) {
}
@media (min-width: 980px) {
}

.form-search {
  position: relative;
  > .search-query {
  	padding-left:8px;
  	padding-right:0;
    border-radius: 3px;
    &:focus + .search {background-color: $grayLighter;}
  }
  > .search {
    position: absolute;
    height: 22px;
    line-height: inherit;
    position: absolute;
    right: 1px;
    top: 4px;
    width: 26px;
    color: #333;
    border: 0;
    background-color: transparent;
  }
}

.form-search-block {
  display: inline-block;
}

#app-errors {
  display: none;
  margin-bottom: 15px;
}

.control-group.error p+p {padding-left: 100px;}


.sshkey-name {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#new_web_user table td {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ie9 .table-fixed, .ie8 .table-fixed, .ie7 .table-fixed { table-layout: fixed } // allow td text-overflow



/* client side validation */
.form-validation fieldset input,
.form-validation fieldset textarea,
.form-validation fieldset select {
		display: inline-block;
		$transition: background-color .2s ease;
		@include transition($transition);
}
.form-validation input:focus:required:invalid { 
	background-position: 379px 3px;
	outline: none; 
}
.form-validation input[type=text]:focus:not([pattern]):required:invalid {
	background-color: #fff; 
}

.form-validation .validation01 { 
	background: $infoBackground; 
	display: none;
	color: $infoText;
	@include border-radius(5px);
	font-size: $smallFontSize;
	padding: 3px 7px;
	position: absolute;
	left: 0;
	text-align: center;
	top: 60px;
	max-width: 300px;
	min-width: 85px;
	z-index: 9999;
}
.form-validation .validation01:before {
  border-color: transparent transparent $infoBackground;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  top: -15px;
  width: 0;
}
.form-validation input:focus + .validation01, 
.form-validation select:focus + .validation01,
.form-validation textarea:focus + .validation01 { display: block; }
.form-validation input:focus:required:valid + .validation01  { background: $successBackground; }
.form-validation input:focus:required:valid + .validation01:before { border-color: transparent transparent $successBackground; }
.form-validation input:focus:required:valid + .validation01 .invalid { display: none; }
.form-validation input:focus:required:invalid + .validation01 .valid { display: none; }


/* Enhanced error styling */
.form-validation input.error,
.form-validation select.error,
.form-validation textarea.error {
	outline: none; 
	border: 1px solid $errorBorder; 
}
.form-validation input.required,
.form-validation select.required,
.form-validation textarea.required {
	border: 1px solid $errorBorder;
}

