/******************************************************
* Customizations
*/

.dropdown-menu {
	background-color: #333;
  background-color:rgba(60, 60, 60, 0.9);
  @include box-shadow(0 0 1px rgba(255, 255, 255, 0.25) inset);
  @include border-radius($radius: 0 0 3px 3px);

  a {
    color: #cacbcc;
  }
  > li > a:hover {
    border-radius: 0px;
    background-color: #5a5b5c;
  }

  hr {
    margin: 9px 0;
  }
}
