/******************************************************
* Customizations
*/

#utility-nav > li.dropdown,
#utility-nav > li:last-child {
	margin-left: 15px;
}
#utility-nav .dropdown-menu {
	background-color: #333;
  background-color:rgba(60, 60, 60, 0.9);
  @include box-shadow(0 0 1px rgba(255, 255, 255, 0.25) inset);
  position: relative;
  min-width: 1px;
  width:100%;
  float: none;
  border:none;
  @include border-radius($radius: 0 0 3px 3px);
}
@media (max-width:767px) {
	#utility-nav .dropdown-menu {position:absolute;}
}
#utility-nav .dropdown-menu a {
  color: #cacbcc;
}
#utility-nav .dropdown-menu > li > a:hover {
  border-radius: 0px;
  background-color: #5a5b5c;
}
#utility-nav .dropdown.open .dropdown-toggle {
  color: #CACBCC;
	background-color: #444;
  background:rgba(70, 70, 70, 0.75) image-url("console/arrow-down.png") 95% 15px no-repeat;
  @include border-radius($radius: 3px 3px 0 0);
  
  &:hover, &:active {
  	color: #fff;
  }
}
#utility-nav .dropdown-toggle {
	background-color: #444;
  background:rgba(70, 70, 70, 0.25) image-url("console/arrow-down.png") 95% 15px no-repeat;
  padding: 0 25px 0 10px;
  color: #CACBCC;
  white-space: nowrap;
	line-height: 30px;
  text-decoration: none !important;
  display: block;
  @include box-shadow(0 1px rgba(255, 255, 255, 0.05) inset, 0 -1px rgba(255, 255, 255, 0.15) inset, 0 10px 20px rgba(255, 255, 255, 0.125) inset, 0 3px 1px rgba(0, 0, 0, 0.5) inset);
  @include border-radius($radius: 3px);
  
  &:hover, &:active {
  	color: #fff;
  }
}
