@mixin header_border {
}

@mixin brand {
  @media (max-width: 979px) {
    height: 51px;
    margin-top: 11px;
    width: 125px;
  }
}

@mixin brand_hover {
}

@mixin brand_ie {
  background: image-url('logo-origin.png') no-repeat 0 50%;
  height: 55px;
  width: 133px;
}

@mixin panel_default_boxshadow {
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

@mixin panel_default_boxshadow_hover {
  @include box-shadow(0 1px 3px rgba(0,0,0,.35));
}