@mixin header_border {
}

@mixin brand {
  @media (max-width: 979px) {
    height: 51px;
    margin-top: 11px;
    width: 125px;
  }
}

@mixin brand_hover {
}

@mixin brand_ie {
  background: image-url('logo-origin.png') no-repeat 0 50%;
  height: 55px;
  width: 133px;
}