.navbar {
  background: #333;
  @include navbar_background;
  .brand {
    float: left;
    position: relative;
    @include brand_hover;
    .brand-image {
      @include brand_image;
      background-size: 100%;
      display: inline-block;
      .ie6 &, .ie7 &, .ie8 & {
        @include brand_image_ie;
      }
    }
    .brand-text {
      display: none;
    }
  }
  .btn-navbar {
    background: none;
    border: 0;
    display: none;
    padding: 10px 6px;
    position: absolute;
    right: 14px;
    top: 16px;
    &:hover {
      background: none;
      box-shadow: none;
      .icon-bar {
        background-color: rgba(255,255,255,.9);
      }
    }
    &.in .icon-bar {
      background-color: rgba(255,255,255,1);
      box-shadow: 0 0 5px rgba(255,255,255,0.5);
    }
    .icon-bar {
      background-color: rgba(255,255,255,.75);
      @include border-radius ($radius: 1px);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      clear: both;
      display: block;
      height: 3px;
      width: 32px;
      + .icon-bar {
        margin-top: 4px;
      }
    }
  }
  .container {
    position: relative;
  }
  .nav {
    float: right;
    list-style: none;
    margin: 21px 0 0 0;
    position: relative;
    > li {
      position: relative;
      float: left;
      margin: 0;
      padding: 18px;
      > a {
        color: #e0e0e0;
        display: block;
        font-size: 17px;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        text-transform: uppercase;
        &:hover {
          background: none;
          color: #fff !important;
          text-decoration: none;
        }
      }
      &.active {
        &:after {
          background: #eb0011;
          content: "";
          display: block;
          height: 2px;
          position: relative;
          bottom: -3px;
        }
        > a {
          color: #fff;
        }
      }
      &.open .dropdown-toggle {
        background: none;
      }
      &.username {
        padding-right: 0;
        .dropdown-toggle { 
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 13px;
          line-height: 17px;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: none;
          white-space: nowrap;
          word-wrap: normal;
          &:after {
            border: 3px solid transparent;
            border-bottom-width: 0;
            border-top-color: #e0e0e0;
            content: '';
            display: inline-block;
            height: 0;
            margin: 0 0 0 6px;
            position: relative;
            top: -3px;
            width: 0;
          }
          &:before {
            background: image-url('icon-user.svg') no-repeat;
            background-size: 100%;
            content: '';
            display: inline-block;
            height: 12px;
            margin: 0 6px 0 0;
            opacity: .8;
            position: relative;
            top: 2px;
            width: 12px;
            .ie6 &, .ie7 &, .ie8 & {
              background-image: image-url('icon-user.png');
            }
          }
        }
        &.active .dropdown-toggle:after, &.open .dropdown-toggle:after, &:hover .dropdown-toggle:after {
          border-top-color: #fff;
        }
        &.active .dropdown-toggle:before, &.open .dropdown-toggle:before, &:hover .dropdown-toggle:before {
          opacity: 1;
        }
        &:hover .dropdown-toggle, &.open .dropdown-toggle {
          color: #fff;
        }
      }
      .dropdown-menu {
        background: #e9e9e9;
        @include box-shadow(0 0 8px rgba(0,0,0,0.65));
        border: none;
        @include border-radius ($radius: 0);
        left: 50%;
        margin-left: -90px;
        min-width: 140px;
        position: absolute;
        padding: 20px;
        text-align: left;
        transition: all 0.092s ease-in 0s;
        &:before {
          border: 7px solid transparent;
          border-bottom-color: #e9e9e9;
          border-top-width: 0;
          content: '';
          display: inline-block;
          left: 50%;
          margin-left: -7px;
          position: absolute;
          top: -7px;
        }
        a {
          color: #111;
          font-size: 14px;
          line-height: 1;
          padding: 2px 0;
          white-space: normal;
          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
        .divider {
          background: #ddd;
          border-bottom: 0;
        }
        > li {
          margin: 0;
          + li {
            margin-top: 8px;
          }
        }
      }
    }
  }
  .navbar-inner {
    min-height: 90px;
  }
  .nav-collapse {
    height: 0;
    overflow: visible;
  }
}

#utility-nav {
  font-size: 11px;
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 9999 !important;
  .alert {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #333;
    float: right;
    margin: 0;
    padding: 3px 6px;
    &:hover {
      color: #000;
    }
  }
  > li {
    float: left;
    line-height: 1;
    margin-bottom: 0;
  }
}

@media (min-width: 1240px) {
  .navbar .nav > li {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 979px) {
  .navbar {
    .brand {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
    }
    .nav {
      margin-top: 11px;
      > li {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 19px;
        &.username .dropdown-toggle {
          line-height: 16px;
          max-width: 110px;
        }
        > a {
          font-size: 16px;
        }
      }
    }
    .navbar-inner {
      min-height: 70px;
    }
    .nav-collapse {
      clear: none;
    }
  }
}

@media (max-width: 767px) { 
  .navbar {
    .brand {
      margin-bottom: 3px;
    }
    .btn-navbar {
      display: block;
    }
    .nav {
      border-top: 1px solid rgba(255,255,255,.1);
      float: none;
      margin-left: 44px;
      padding-top: 12px;
      > li {
        padding-left: 0;
        padding-right: 25px;
        padding-top: 0;
        &.username .dropdown-toggle {
          max-width: 200px;
        }
        > a {
          font-size: 14px;
          text-transform: none;
        }
        .dropdown-menu a {
          font-size: 13px;
        }
      }
    }
    .nav-collapse {
      clear: both;
      opacity: 0;
      overflow: hidden;
      &.in {
        opacity: 1;
        overflow: visible;
        transition: opacity .35s ease-in;
      }
    }
  }
}

@media (max-width: 540px) {
  .navbar .nav > li.username .dropdown-toggle {
    max-width: 125px;
  }
}

@media (max-width: 480px) {
  .navbar .nav > li {
    clear: left;
    &.username .dropdown-toggle {
      max-width: 200px;
    }
  }
}

@media (max-width: 360px) {
  .navbar .nav {
    margin-left: 35px;
  }
}

