.header.rcue {
  border-top: 0;
  @include header_border;
  .brand {
    display: block;
    float: left;
    position: relative;
    @include brand;
    @include brand_hover;
    .ie6 &, .ie7 &, .ie8 & {
      @include brand_ie;
      img {
        display: none;
      }
    }
  }
  .container {
    position: relative;
  }
  .nav {
    margin-bottom: 0;
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-submenu:hover > a,
    .dropdown-submenu:focus > a {
      background-color: #0072ac;
      background-image: -moz-linear-gradient(top, #08c, #007bb9);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#007bb9));
      background-image: -webkit-linear-gradient(top, #08c, #007bb9);
      background-image: -o-linear-gradient(top, #08c, #007bb9);
      background-image: linear-gradient(to bottom, #08c, #007bb9);
      background-repeat: repeat-x;
      color: #fff;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#007bb9', GradientType=0);
    }
    li {
      margin-bottom: 0;
    }
    > li {
      float: left;
    }
  }
  .navbar {
    &.primary .nav {
      > .active > a, > .active > a:hover, > .active > a:focus, > .open > a, > .open > a:hover, > .open > a:focus {
        background-color: #595959;
        background-image: -moz-linear-gradient(top, #555, #4d4d4d);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#4d4d4d));
        background-image: -webkit-linear-gradient(top, #555, #4d4d4d);
        background-image: -o-linear-gradient(top, #555, #4d4d4d);
        background-image: linear-gradient(to bottom, #555, #4d4d4d);
        border-top-color: #666;
      }
      > li > a:hover {
        background-color: #494949;
        background-image: -moz-linear-gradient(top, #4b4b4b, #f3f3f3);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b4b4b), to(#3f3f3f));
        background-image: -webkit-linear-gradient(top, #4b4b4b, #3f3f3f);
        background-image: -o-linear-gradient(top, #4b4b4b, #3f3f3f);
        background-image: linear-gradient(to bottom, #4b4b4b, #3f3f3f);
        border-top-color: #5a5a5a;
      }
      .dropdown-menu {
        border: 1px solid #b6b6b6;
        border-top: 0;
      }
      li.dropdown > .dropdown-toggle {
        .caret:after {
          border-top-color: #373737;
        }
        .icon-user {
          background-size: 100%;
          display: block;
          float: left;
          margin: 1px 7px 0 0;
          opacity: .8;
          height: 11px;
          width: 11px;
        }
        &:hover {
          .caret:after {
            border-top-color: #464646;
          }
          .icon-user {
            opacity: 1;
          }
        }
      }
      li.dropdown.open > .dropdown-toggle {
        .caret:after {
          border-top-color: #515151;
        }
        .icon-user {
          opacity: 1;
        }
      }
    }
    &.utility .nav {
      .dropdown-menu {
        border: 0;
      }
      &.pull-right {
        margin-right: -4px;
        .dropdown-menu {
          right: 4px;
          &:before {
            border: 5px solid transparent;
            border-bottom-color: #fff;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 5px;
            top: -8px;
            width: 0;
          }
        }
      }
      > li {
        > a {
          opacity: .8;
          &.alert {
            background-color: transparent;
            border-bottom: 0;
            border-right: 0;
            border-top: 0;
            border-radius: 0;
            color: #ffd24e !important;
            margin-bottom: 0;
            margin-top: 0;
            opacity: 1;
            &:hover {
              text-decoration: underline;
            }
          }
          &.dropdown-toggle .caret:after {
            border-top-color: #333 !important;
          }
          &:hover, &:active {
            background: transparent !important;
            opacity: 1;
          }
        }
      }
      > .active > a, > .active > a:hover, > .active > a:focus, > .open > a, > .open > a:hover, > .open > a:focus {
        background: transparent;
        opacity: 1;
      }
    }
    .dropdown-menu .divider {
      background-color: #eee;
      border-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    li.dropdown > .dropdown-toggle .icon-user {
      background-image: image-url('icon-user.svg') !important;
      .ie6 &, .ie7 &, .ie8 & {
        display: none;
      }
    }
  }
  .navbar-inner {
    background: #333;
  }
  .primary .navbar-inner {
    background-color: #333;
    background-image: -moz-linear-gradient(top, #3a3a3a, #333);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a3a3a), to(#333));
    background-image: -webkit-linear-gradient(top, #3a3a3a, #333);
    background-image: -o-linear-gradient(top, #3a3a3a, #333);
    background-image: linear-gradient(to bottom, #3a3a3a, #333);
    background-repeat: repeat-x;
  }
  .utility .navbar-inner {
    border-bottom-color: #414141 
  }
}

.navbar {
  .btn-navbar {
    background: none;
    border: 0;
    display: none;
    margin: 0 20px 0 0;
    padding: 3px 10px;
    position: absolute;
    right: 0;
    top: 20px;
    &:hover {
      background: none;
      box-shadow: none;
      .icon-bar {
        background-color: rgba(255,255,255,.9);
      }
    }
    &.in .icon-bar {
      background-color: rgba(255,255,255,1);
      box-shadow: 0 0 5px rgba(255,255,255,0.5);
    }
    .icon-bar {
      background-color: rgba(255,255,255,.65);
      @include border-radius ($radius: 1px);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      clear: both;
      display: block;
      height: 2px;
      width: 26px;
      + .icon-bar {
        margin-top: 4px;
      }
    }
  }
  .nav-collapse {
    height: 0;
    overflow: visible;
  }
}


@media (max-width: 979px) {
  .header.rcue .navbar {
    .nav-collapse {
      clear: none;
    }
    .nav.pull-right {
      float: right;
    }
  }
}

@media (max-width: 767px) { 
  .header.rcue {
    .brand {
      margin-left: 12px;
    }
    .navbar {
      &.primary .nav > li > a {
        padding: 12px 14px;
        &.username {
          max-width: 175px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
        }
      }
      &.utility .nav {
        position: absolute;
        right: 34px;
        > li > a {
          padding: 5px 0 0;
        }
      }
      .btn-navbar {
        display: block;
      }
      .nav-collapse {
        clear: both;
        opacity: 0;
        overflow: hidden;
        &.in {
          opacity: 1;
          overflow: visible;
          transition: opacity .35s ease-in;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .header.rcue {
    .brand {
        margin-left: 10px;
      }
    .navbar.primary .nav > li > a {
      padding: 10px 12px;
      &.username {
        max-width: 120px;
      }
    }
  }
}

@media (max-width: 420px) {
  .header.rcue {
    .brand {
      margin-left: 0;
    }
    .navbar.primary .nav > li {
      float: none;
      > a.username {
          max-width: none;
      }
    }
  }
  .navbar .btn-navbar {
    top: 17px;
  }
}