//
// Tables.scss
// Tables for, you guessed it, tabular data
// ----------------------------------------


// BASE TABLES
// -----------------

table {
  max-width: 100%;
  //border-collapse: collapse;
  border-spacing: 0;
}

// BASELINE STYLES
// ---------------

.table {
  width: 100%;
  margin-bottom: $baseLineHeight;
  &.table-tile {
    background-color: $consolePanelColor;
    border: 1px solid #fff;
    @include panel_default_boxshadow();
    th,
    td { 
      border-color: lighten($consoleTableBorderColor, 8%);
    }
  }
  // Cells
  th,
  td {
    padding: 8px 13px;
    line-height: $baseLineHeight;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid $consoleTableBorderColor;
    border-right: 1px solid inherit;
  }
  th {
    font-weight: 600;
    border-bottom: 1px solid $consoleTableBorderColor;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  thead:first-child tr th,
  thead:first-child tr td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $consoleTableBorderColor;
  }
}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed {
  th,
  td {
    padding: 3px 5px;
    font-size: $baseFontSize - 1;
  }
}


// BORDERED VERSION
// ----------------

.table-bordered {
  border: 1px solid $consoleTableBorderColor;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  //@include border-radius(4px);
  th + th,
  td + td,
  th + td,
  td + th {
    border-left: 1px solid $consoleTableBorderColor;
  }
  // Prevent a double border
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: lighten($consoleBody, 3%);
    }
  }
  &.table-tile {
    tr:nth-child(odd) td {
      background-color: lighten($consoleBody, 2%);
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table.table-hover {
  tr:hover {
    td {
      background-color: #fdfdfd;
    }
  }
  &.table-tile {
    tr:hover {
      td {
        background-color: darken($consolePanelColor, 3%);
      }
    }
  }
}



// TABLE CELL SIZING
// -----------------

// Change the columns
@mixin tableColumns($columnSpan: 1) {
  float: none;
  width: (($gridColumnWidth) * $columnSpan) + ($gridGutterWidth * ($columnSpan - 1)) - 16;
  margin-left: 0;
}
table {
  .span1     { @include tableColumns(1); }
  .span2     { @include tableColumns(2); }
  .span3     { @include tableColumns(3); }
  .span4     { @include tableColumns(4); }
  .span5     { @include tableColumns(5); }
  .span6     { @include tableColumns(6); }
  .span7     { @include tableColumns(7); }
  .span8     { @include tableColumns(8); }
  .span9     { @include tableColumns(9); }
  .span10    { @include tableColumns(10); }
  .span11    { @include tableColumns(11); }
  .span12    { @include tableColumns(12); }
}
