.label-tags {
  a.label {
    color: $openshiftLinkGray;
    background-color: transparent;
    text-decoration: none;
    margin-right: 10px;
    margin-top: -5px;
    margin-left: -6px;
    text-shadow: none;
    &:hover {
      color: #111;
      background-color: #eee !important;
    }
  }
}

.tile {
  background: $consolePanelColor;
  @include box-shadow(0 0 2px rgba(0,0,0,.25));
  color: $consoleTextColorDefault;
  padding: 15px 25px; 
  margin-bottom: 20px; 
  &.cartridge_type .warning {
    color: $orange;
  }
  > p {
    margin-bottom: $baseLineHeight / 1.5;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > ul.meta > li > label {
    display: inline;
  }
  .application-info > h2, > h3 {
    > a { 
      text-decoration: none;
    }
  }
  h2 {
    @include clearfix();
  }
  .tile-featured h3 {
    margin-right: 20px;
  }
}

.tile-click {
  cursor: pointer;
  position: relative;
  h3 {
    margin-right: 10px;
  }
  &:hover {
    background: #fff !important;
    @include box-shadow(0 0 3px rgba(0,0,0,.45));
    .application-info > h2, > h3 {
      > a {
        color: #ea0011;
      }
    }
    .font-icon-block {
      opacity: 1;
    }
  }
  .font-icon-block {
    position: absolute;
    right: 25px;
    top: 37%;
    font-size: $largeFontSize; 
    color: #666;
    opacity: .3;
  }
  &.tile-featured .font-icon-block {
    top: 20px;
  }
}

.tile-compact {
  padding-right: 35px;
  h3 {
    margin-right: 10px;
    margin-bottom: 0;
  }
  a.label {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
  }
}

@media (max-width: 767px) {
  .section-body .row > .tile-click {
    @include expand_for_phone();
  }
}
