/*
Syntax error: Invalid CSS after "    background:": expected pseudoclass or pseudoelement, was " #131313;"
        on line 82 of /home/clayton/code/origin-server/console/app/assets/stylesheets/console/_tile.scss

77: }
78: 
79: .tile-dark {
80: 
81:   .tile {x
82:     background: #131313;
83:   }
84:   
85:   .tile-featured h3 {
86:     margin-right: 20px;
87:   }

Backtrace:
/home/clayton/code/origin-server/console/app/assets/stylesheets/console/_tile.scss:82
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1066:in `expr!'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:794:in `pseudo'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:678:in `simple_selector_sequence'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:646:in `_selector'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:619:in `selector'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:603:in `selector_sequence'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:528:in `ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:543:in `block_contents'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:543:in `block_contents'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:235:in `watch'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/plugin.rb:107:in `method_missing'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:452:in `watch_or_update'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/home/clayton/.gem/ruby/1.9.1/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
/home/clayton/bin/sass:23:in `load'
/home/clayton/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    background:\": expected pseudoclass or pseudoelement, was \" #131313;\"\A         on line 82 of /home/clayton/code/origin-server/console/app/assets/stylesheets/console/_tile.scss\A \A 77: }\A 78: \A 79: .tile-dark {\A 80: \A 81:   .tile {x\A 82:     background: #131313;\A 83:   }\A 84:   \A 85:   .tile-featured h3 {\A 86:     margin-right: 20px;\A 87:   }"; }
