%section
  = div_for user do
    %h2 Personal Information

    %p
      You are logged in with 
      %strong #{user.login}
      on:
    .well= RestApi::Base.site

    -#%p
      We will only use your email account for information about your account. We do not share it with third parties.

    -#.btn-toolbar
      = link_to "Change password...", edit_password_path, :class => 'btn'
      -#%li= link_to "Terms of Use", legal_site_terms_path
      -#%li= link_to "Privacy Policy", legal_openshift_privacy_path
