-# CSS: implied media="all"
= stylesheet_link_tag '/app/stylesheets/bootstrap.css', :media => 'all'
-# Moved into core scss = stylesheet_link_tag '/app/stylesheets/custom.css', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
