-# CSS: implied media="all"
= stylesheet_link_tag '/app/stylesheets/styleguide.css', :media => 'all'
= stylesheet_link_tag '/app/stylesheets/augments.css', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
