#
# Apache bandwidth limit
# 
apache_bandwidth="all 500000"
apache_maxconnection="all 20"
apache_bandwidtherror="510"

#
# Apache rotatelogs tuning
#
rotatelogs_interval=86400
rotatelogs_format="-%Y%m%d-%H%M%S-%Z"
