[Unit]
Description=OpenShift Node Web Routing Proxy
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/usr/sbin/openshift-node-web-proxy
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
