-# Javascript at the bottom for fast page loading
:ruby
  scripts = [
    'jquery.min.js',
    'rails',
    'plugins',
    'jquery.validate.min.js',
    'jquery.cookie.js',
    'form'
  ]

- scripts.each do |script|
  = javascript_include_tag script

-#  Append your own using content_for :javascripts
= yield :javascripts

