Name: community-python-2.7
Version: 0.1
Architecture: i686/x86_64
Provides: community-python-2.7
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: www.openshift.com
DisplayName: community-python-2.7
Bundles:  community-python
Description:
Provides support for running community supported python 2.7 cartridge
