- content_for :title, "Change your Namespace"
- breadcrumb_for_account 'Change your Namespace'
%h1 Change your Namespace
.alert.alert-warning
  %strong Warning
  Changing your namespace will alter the public URLs of your applications.  If you change your namespace you will need to update any bookmarks or external links to your applications.
= render :partial => 'form', :locals => { :domain => @domain }
