%h1 Set your namespace
%p 
  Your namespace is unique to your account and is the suffix of the public URLs we assign to your applications.
  See #{link_to 'the User Guide', add_domains_user_guide_topic_url}
  for information about adding your own domain names to an application.
= render :partial => 'form', :locals => { :domain => @domain }
