[Unit]
Description=The OpenShift Console
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/www/openshift/console/httpd/run/httpd.pid
EnvironmentFile=/etc/sysconfig/openshift-console
ExecStartPre=/usr/bin/rm -f /var/www/openshift/console/Gemfile.lock
ExecStartPre=/bin/bash -c 'pushd /var/www/openshift/console > /dev/null ; bundle install --local > /dev/null; popd > /dev/null'
ExecStartPre=/usr/bin/chown apache:apache /var/www/openshift/console/Gemfile.lock
ExecStart=/usr/sbin/httpd $OPTIONS -k start
ExecReload=/usr/sbin/httpd $OPTIONS -t
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/httpd $OPTIONS -k stop

[Install]
WantedBy=multi-user.target
