%h2 Namespace
%p
  See the #{link_to 'User Guide', add_domains_user_guide_topic_url, :class => 'external'}
  for information about adding your own domain names to an application.

.well
  http://applicationname&ndash;<strong class="namespace">#{@domain.name}</strong>.#{RestApi.application_domain_suffix}
.btn-toolbar
  = link_to "Change your namespace...", edit_domain_path, :class => 'btn btn-small'
