.header.rcue
  .navbar.utility
    .navbar-inner
      .container
        %a.brand{:href => admin_console_path}
  .navbar.primary
    .navbar-inner
      .container
        = navigation_tabs do
          = navigation_tab :index, :action => :index, :name => "Overview"
          = navigation_tab :search, :action => :index, :name => "Search"
          = navigation_tab :stats, :action => :index, :name => "Stats"

        %form{:class => "navbar-search pull-right", :method => "GET", :action => search_path}
          %div{:class => "input-append input-prepend"}
            %select{:name => "scope"}
              %option{:value => "user"}
                User
              %option{:value => "application"}
                Application
              %option{:value => "node"}
                Node
              %option{:value => "gear"}
                Gear

            %input{:type => "text", :class => "search-query", :placeholder => "search by id", :name => "query"}
            %button{:type => "submit", :class => "btn"}
              %span{:class => "icon-search"}