-# CSS: implied media="all"
= stylesheet_link_tag 'admin_console', :media => 'all'
%link{ :href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", :rel => "stylesheet"}

-# Append your own using content_for :stylesheets
= yield :stylesheets
