Name: nodejs-0.6
Version: 0.6.10
Architecture: i686/x86_64
Provides: nodejs
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: nodejs.org
DisplayName: Node.js-0.6
Bundles:
Description:
Node.js is a platform built on Chrome's JavaScript runtime for easily building
fast, scalable network applications. Node.js uses an event-driven, non-blocking
I/O model that makes it lightweight and efficient, perfect for data-intensive
real-time applications that run across distributed devices.
