Name: postgresql-8.4
Version: 8.4
Architecture: i686/x86_64
Provides: postgresql-server
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: http://www.postgresql.org
DisplayName: postgresql-8.4
Description:
PostgreSQL is an object-relational database management system (ORDBMS).
