Name: community-pod
Version: 0.1
Architecture: i686/x86_64
Provides: community-pod
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: openshift.redhat.com
DisplayName: community-pod-0.1
Bundles:  community-pod
Description:
Provides support for installing/running community cartridges
