Name: python-2.6
Version: 2.6.x
Architecture: i686/x86_64
Provides: python
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: wsgi.org
DisplayName: Python-2.6
Bundles:  python-2.6-bundle.tar.gz
Description: 
WSGI is the Web Server Gateway Interface. It is a specification for web servers and application servers 
to communicate with web applications (though it can also be used for more than that). It is a Python standard.
