%h3
  Application Template Information

%div
  %p
    This is an OpenShift provided application template. It will help you get up and running with a preconfigured application quickly and easily.
  .alert
    Please be sure to read the source repository README for any additional configuration that may be required.
    %br
    Some templates may have hard coded passwords or other security related settings that should be modified.

%ul.unstyled.meta
  %li.website
    %label Source Repository:
    =link_to application_template.git_project_url, application_template.git_project_url, :target => "_blank"

