/***********************************************************
* Application standard layouts 
*/

.application-info {
	position: relative;
	
  &.warning {
  	border-left: 2px dashed #bb161c;
	}
	
  .name {
    text-overflow: ellipsis;
    text-transform: capitalize;
    display: inline-block;

    margin-bottom: 5px;
    margin-right: 10px;
  }

  > .url {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }

	.gear-numbers {
		color: #bcbdbc;
	}
  .emblem {
  	vertical-align: middle;
  	padding: 2px 0;

    margin-right: 15px;
    margin-top: 6px;
    img {
  		margin-right: 7px;
		  vertical-align: middle;
  	}
  }
}

.section-header > .application-info {

  > .url {
    line-height: 36px; // chosen to match h1
    font-size: 16px;
  }

  // move these under .application-info
	.emblem {	
    img {
      vertical-align: middle;
      margin-right: 13px;
      margin-bottom: 3px;
    }
  }
	.total-cost {	
		font-size: 32px;
		font-weight: 200;
		margin-top: 10px;
		padding-right: 30px;
    text-align: right;
	}
}

.tile-dark .application-info {
  left: -5px;
  margin-right: -10px;

  padding-top: 15px;
  padding-bottom: 10px;

  > .url {
    line-height: 34px; // chosen to match h2
  }
}

/* Arbitrarily chosen */
@media (max-width: 560px) {
  .grid-wrapper .application-info {
    > .url {
      line-height: 18px; // chosen to match h1
      font-size: 13px;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .section-header > .application-info {
    margin-right: 0;
    left: 0;
  }

	.application-info .emblem {
    margin-right: 7px;
	}
}
