/* OPENSHIFT MANAGEMENT CONSOLE

Color palette
--------------------------------------------
  0   0   0    000000     Black
177 229 242    b1e5f2			Primary Blue
 54  53  52    363634     Primary Dark Gray
 77  79  83    4d4f53     Cool Gray 11
154 155 156    9a9b9c     Cool Gray 7
188 189 188    bcbdbc     Cool Gray 4
224 225 221    e0e1dd     Cool Gray 1
255 255 255    ffffff     White
234   0  17    ea0011     Bright Red
205  32  44    cd202c     Primary Red
161   0  12    a1000c     Dark Red

*/

body {
		font-weight: normal;
    }
h1,h2,h3,h4,h5,h6 {
		color: #fafbfc;
		}
a {color:#7EABB6;}
a:hover,a:active {color:#b1e5f2;}

%console-background {
  background-image:
    image-url('images/mts.png'),
    -moz-repeating-linear-gradient(110deg, #1f1f1f 0px, #1e1e1e 10px, #1f1f1f 10px, #202020 20px);
  background-image:
    image-url('images/mts.png'),
    -webkit-repeating-linear-gradient(110deg, #1f1f1f 0px, #1e1e1e 10px, #1f1f1f 10px, #202020 20px);
  background-image:
    image-url('images/mts.png'),
    -ms-repeating-linear-gradient(110deg, #1f1f1f 0px, #1e1e1e 10px, #1f1f1f 10px, #202020 20px);
  background-image:
    image-url('images/mts.png'),
    repeating-linear-gradient(110deg, #1f1f1f 0px, #1e1e1e 10px, #1f1f1f 10px, #202020 20px);
  background-repeat:   repeat-x, repeat;
  background-position: 297px 101%, center bottom;
}
%console-background-ie9 {
  background-image:    image-url('images/mts.png');
  background-repeat:   repeat-x;
  background-position: 297px 101%;
}
%navbar-background {
	background: black image-url("images/stars.png") left top repeat-x;
}
%brand-image {
  background: image-url('images/logo-24-inside.png') no-repeat left;
  height: 32px;
  width: 40px;
  margin-top: -3px;
  vertical-align: middle;
}
