.breadcrumb {
  margin: 0;

  text-transform: uppercase;
  color: #939598;

  li {
    text-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);
  }

  a,
  a:hover,
  a:visited {
    color: #d9d9da;
  }

  .divider {
    color: #939598;
  }
}

