#help {
  padding: 35px 0 0px 0;
  margin: 0;
  background-color: #070707;
}

#help p {
  color: #808080;
}
#help h4 {
  text-transform: uppercase;
  font-size: 100%;
  color: #707070;
  padding-bottom: 4px;
}
#help a {
  font-size: 22px;
  color: #EB0011;
  font-weight: 200;
}
/*#help ul li {
  margin-left:0;
  margin-right: 30px;
  border-right: 1px dotted;
}
#help ul li:last-child {
  border-right: 0;
}*/


@media (max-width: 767px) {
  #help ul li {
/*    margin-left:0;
    margin-right: 30px;
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    border-right: 0;
    width: 100%;
    float: none;*/
  }
}
