/* no longer used, see site/_navbar */

.navbar {
  margin-bottom: $baseLineHeight;
}

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #212121;
  background-image: -moz-linear-gradient(top, #323232, #191919);
  background-image: -ms-linear-gradient(top, #323232, #191919);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#191919));
  background-image: -webkit-linear-gradient(top, #323232, #191919);
  background-image: -o-linear-gradient(top, #323232, #191919);
  background-image: linear-gradient(top, #323232, #191919);
  background-repeat: repeat-x;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
	}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 7px 10px 0 0;
	}
.navbar .nav.pull-right {
  float: right;
	}
.navbar .nav > li {
  display: block;
  float: left;
	}
.navbar .nav > li > a {
  float: none;
  padding: 8px 13px 10px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  font-weight: normal;
	}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
	}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #111;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  border-top: 1px solid #444;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  cursor: default;
	}
.navbar .brand {	
	color: #fff;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  margin: 8px 8px 0 -20px;
  padding: 8px 20px 12px;
  text-shadow: 0 1px 2px #000000;
	}
.navbar .brand span {
	white-space: nowrap;
	}
.navbar .brand sup {
	left: -2px;
  top: -0.75em;
  font-size: 8px;
  font-weight: 100;
	}
.navbar .navbar-text {
  margin: 15px -8px 0 0;
  line-height: 40px;
  color: #999;
  font-weight: 200;
	}
.navbar .navbar-text a {
	color: #999;
	}

#utility-nav li {
	display: block;
  float: left;
  margin-left: 5px;
	}
#utility-nav li a {
  color: #999999;
	padding: 10px;
	text-decoration: none;
	}
#utility-nav li a:hover {
  color: #ffffff;
	}

/* Responsive styles */
@media (max-width: 767px) {
  .console-transition .navbar .headline { 
    display: block;
    clear: both;
    }
  .console-transition .navbar #utility-nav {
    margin: 0;
    float: none;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
	
}

@media (max-width: 980px) { 
	#utility-nav {
	  margin: 8px 5px 0 0;
	 	}
	.navbar .nav-collapse {
    clear: left;
    height: auto; /* override js toggle */
  	}
  .navbar .nav {
    float: none;
    margin: 0;
  	}
  .navbar .nav > li {
    float: none;
  	}
	.navbar .nav > li > a, .navbar .dropdown-menu a {
    padding: 6px 15px 8px;
    font-weight: bold;
    color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  	}
  .navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #111111;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 2px rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
    cursor: default;
    text-decoration: none;
		}
  .navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover {
    background-color: #1a1a1a;
  	}
  .console-transition .navbar #utility-nav {
    margin: 0;
    float: none;
    }
}
	  
@media (min-width: 980px) {
	.nav-collapse.collapse {
    height: auto !important;
  	}
  .navbar .nav > li > a, .navbar .dropdown-menu a {
  	-webkit-border-radius: 6px 6px 0 0;
  		 -moz-border-radius: 6px 6px 0 0;
  			    border-radius: 6px 6px 0 0;
		}
}

@media (min-width: 1200px) {
}


/* nav overwrite bootstrap */		
.navbar .nav > li > a {
    border-radius: 3px 3px 0 0;
    padding: 3px 13px;
    margin: 2px;
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 3px 13px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  border:0;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}		
.nav-collapse {
    height: 0;
    overflow: visible;
    text-align: center;
}
.navbar .nav {
    display: inline-block;
    border-color: #383838;
		border-style: solid solid none;
    border-width: 2px 2px 0;
    -moz-border-radius-topleft: 6px;
  	-moz-border-radius-topright: 6px;
  	-webkit-border-top-left-radius: 6px;
  	-webkit-border-top-right-radius: 6px;
  	border-top-right-radius: 6px;
  	border-top-left-radius: 6px;
    float: none;
    left: 0;
    margin: 61px 0 0 0;
    position: relative;
}
.navbar .nav > li {
    background: #000;
    -moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	-webkit-border-top-left-radius: 4px;
  	-webkit-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;
  	border-top-left-radius: 4px;
    display: block;
    float: left;
}
.navbar {
	background: black url("../images/stars.png") left top repeat-x;
	border-bottom: 2px solid #383838;
	height: 90px;
	margin: 0/*.*/;
	}
	.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border-radius: 0 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
		}
.navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 200;
    line-height: 1;
    margin: 8px 8px 0 -20px;
    padding: 8px 20px 12px;
    text-shadow: 0 1px 2px #000000;
}		
		
.navbar .container {
	position: relative;
	}
.navbar .brand {
    color: #FFFFFF;
    float: none;
    position: absolute;
    top: 18px;
    left: 0;
    font-size: 16px;
    font-weight: 200;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
.navbar .brand a {
	display: inline-block;
	vertical-align: middle;
	}
	.navbar .brand .navbar-text {
    font-size: 13px;
    font-family: Overpass, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    }
.navbar .navbar-text {
	color:#fff;
	margin: 0;
	} 
.navbar #utility-nav {
    margin: 0;
    background: #000;
    display: inline;
    margin: 0 -10px 0 0;
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 11px;
}
#identity {
	border: 1px solid #383838;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;  
  border-radius: 3px; 
    color: #999999;
    font-size: 11px;
    padding: 0 17px 0 8px;
    position: absolute;
    right: 0;
    top: 61px;
    background: #000 url("../images/console/arrow-down.png") 97% .75em no-repeat;
	}
#identity .username {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    }

@media (max-width: 767px) {
	.navbar {
    height: auto;
    border: 0;
    padding-left: 20px;
	}
	.navbar .brand {
		position: relative;
		}
	.navbar #utility-nav {
    margin: 0 10px 0 0;
    left: -13px;
    top: 3px;
    }
	#identity {
    top: 2px;
    right: 20px;
    }
	.navbar .nav {
		display: block;
		margin: 30px 0 0;
		float: left;
		width: 100%;
		border: 0;
		}
	.navbar .nav > li {
    float: left;
    width: 24.5%;
    margin-right: 0.38%;
	}
	.navbar .nav > li > a {
		border-radius: 3px;
    height: 44px;
		}
		.navbar .nav > li:last-child {
			margin-right: 0;
			}
	.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #333;
    border: 0;
    color: #FFFFFF;
    cursor: default;
    text-decoration: none;
    box-shadow: none;
	}
}


@media (min-width: 768px) and (max-width: 979px) {
	.navbar .nav > li {
    float: left;
	}
	.navbar .nav .active > a, .navbar .nav .active > a:hover {
    border: 0;
    box-shadow: 0;
    color: #FFFFFF;
    cursor: default;
    text-decoration: none;
	}
	.navbar #utility-nav {
    margin: 0 10px 0 0;
    right: 175px;
    top: 3px;
    }
	#identity {
    top: 2px;
    }
}

@media (min-width: 1200px) {
	.navbar .nav {
		margin-left: 0;
		}
}

