LoadModule auth_basic_module modules/mod_auth_basic.so
LoadModule authn_file_module modules/mod_authn_file.so
LoadModule authz_user_module modules/mod_authz_user.so

<Location /broker>
    AuthName "OpenShift"
    AuthType Basic
    AuthUserFile /etc/openshift/htpasswd
    require valid-user

    # The node->broker auth is handled in the Ruby code
    BrowserMatch Openshift passthrough
    Allow from env=passthrough

    Order Deny,Allow
    Deny from all
    Satisfy any
</Location>

# The following APIs do not require auth:
<Location /broker/rest/application_templates*>
    Allow from all
</Location>

<Location /broker/rest/cartridges*>
    Allow from all
</Location>

<Location /broker/rest/api*>
    Allow from all
</Location>
