a.skip-navigation {
  position: absolute;
  top: -1000px;
}

.usage {
  font-size: 24px;
  font-weight: bold;
}

.stat {
  margin-bottom: 20px;
}

.stat-number {
  font-size: 52px;
  margin: 20px 0;
}