$baseFontFamily:      "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif !default;
$headerFontFamily:    "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$monoFontFamily:      Menlo, Monaco, "Liberation Mono", Consolas, monospace !default;

$baseLineHeight:          21.5px;
$baseFontSize:            15.5px;
$leadLineHeight:          $baseLineHeight * 1.5;
$leadFontSize:            20px;
$mediumFontSize:          17px;
$largeLineHeight:         $baseLineHeight * 1.2;
$largeFontSize:           24px;
$extraLargeFontSize:      28px;
$smallFontSize:           13.5px;
$tinyFontSize:            12px;
$extraTinyFontSize:       10.75px;

// For matching header sizes exactly
$h1FontSize:              $baseFontSize * 2.25;
$h2FontSize:              $baseFontSize * 1.62;
$h3FontSize:              $baseFontSize * 1.38;
$h4FontSize:              $baseFontSize * 1.18;
$h5FontSize:              $baseFontSize;
$h6FontSize:              $baseFontSize * .85;

$grayLight:               #999;
$blueLink:                #0099d3;
$blueLinkHover:           #00618a;

$baseBorderRadius: 4px !default;

$inputBackground: white !default;
$inputBorder: #ccc !default;
$inputBorderRadius: $baseBorderRadius !default;

$brandLogo: "admin_console/origin-admin-console-title.png";