- breadcrumb_for_application @application, 'Storage'
- content_for :page_title, 'Storage'

%h1 Unable to Modify Storage
= flashes

%section
  %p
    Your account is unable to increase the storage capacity of your applications.

  -# This is rendered as a partial so we can have different messages in origin-server and hosted
  %p= render 'increase_storage'
