policy_module(stickshift-broker, 1.0)
require {
	type httpd_exec_t;
        type httpd_t;
        type unconfined_t;
        type default_t;
        type http_cache_port_t;
}

type stickshift_t;
type stickshift_exec_t;
application_domain(stickshift_t, stickshift_exec_t)
oddjob_system_entry(stickshift_t, stickshift_exec_t)
role system_r types stickshift_t;
unconfined_domain(stickshift_t)
mcs_process_set_categories(stickshift_t)
init_ranged_daemon_domain(stickshift_t, stickshift_exec_t, s0 - mcs_systemhigh)

allow httpd_t self:capability sys_resource;
allow httpd_t self:capability { fowner fsetid };
allow httpd_t self:process setexec;
allow httpd_t stickshift_t:fifo_file { read write };
allow httpd_t stickshift_t:process sigchld;
allow httpd_t stickshift_t:unix_stream_socket { read write getattr accept };
allow httpd_t default_t:file { getattr read execute open };
allow unconfined_t stickshift_t:process transition;
allow stickshift_t httpd_t:process transition;

optional_policy(`
gen_require(`
    type httpd_passenger_helper_t;

')
    allow httpd_passenger_helper_t self:capability dac_override;
    allow httpd_passenger_helper_t http_cache_port_t:tcp_socket name_connect;
')
