Gears are the application containers running your code.
- if gear_sizes.empty?
  There are no gear sizes available for this application.

- if gear_sizes.length > 1
  If you require more resources, select a larger gear size here.
