<module xmlns="urn:jboss:module:1.0" name="org.jboss.aerogear.netty">
    <resources>
        <resource-root path="netty-subsystem-1.0.0-SNAPSHOT.jar"/>
        <resource-root path="netty-subsystem-api-1.0.0-SNAPSHOT.jar"/>
        <resource-root path="netty-all-4.0.5.Final-SNAPSHOT.jar"/>
    </resources>
    
    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.connector"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.as.naming"/>
        <module name="org.jboss.as.network"/>
        <module name="org.jboss.as.threads"/>
        <module name="org.jboss.as.jpa"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="org.slf4j"/>
        <module name="javax.persistence.api"/>
        <module name="org.hibernate"/>
        <module name="org.hibernate.validator" services="import"/>
        <module name="org.hibernate.envers"/>
        <module name="org.jboss.aerogear.simplepush" services="import">
            <imports>
                <include path="META-INF"/>
            </imports>
        </module>
    </dependencies>
</module>
