policy_module(dhcpnamedforward,0.0.10)

require {
	type dhcpc_t;
        type named_t;
	type named_zone_t;
	type named_initrc_exec_t;
        type httpd_t;
}

# Create the new type
type named_forward_file_t;
files_type(named_forward_file_t)

filetrans_pattern(dhcpc_t, named_zone_t, named_forward_file_t, file)
manage_files_pattern(dhcpc_t, named_forward_file_t, named_forward_file_t)

allow named_t named_forward_file_t:file { getattr open read };
init_labeled_script_domtrans(dhcpc_t, named_initrc_exec_t)
#allow dhcpc_t named_initrc_exec_t:file { getattr execute };

ifdef(`corenet_udp_bind_all_ephemeral_ports',`
  corenet_udp_bind_all_ephemeral_ports(named_t)
')
corenet_udp_bind_all_unreserved_ports(named_t)
corenet_udp_bind_all_ports(httpd_t)
