// BREADCRUMBS
// -----------

.breadcrumb {
  padding: 7px 0;
  margin: 0 0 $baseLineHeight;
  font-size: $smallText;
  //@include gradient-vertical($white, #f5f5f5);
  //border: 1px solid #ddd;
  //@include border-radius(3px);
  //@include box-shadow(inset 0 1px 0 $white);
  li {
    //display: inline-block;
    display: inline;
    text-shadow: 0 1px 0 $white;
  }
  .divider {
    padding: 0 5px;
    color: $breadcrumbDividerColor;
  }
  a,
  a:hover {
    color: $breadcrumbTextColor;
  }
}

@media (max-width: 767px) {
	.breadcrumb {
    padding: 4px 0;
	}
}
