// If an element has a background and should stretch across the 
// width of the page on a phone, include this mixin.
@mixin expand_for_phone() {
  margin-left: -$gridGutterWidthPhone;
  margin-right: -$gridGutterWidthPhone;
  padding-left: $gridGutterWidthPhone;
  padding-right: $gridGutterWidthPhone;
}
