h1, h2, h3, h4, h5, .headline, .nav, .section-top, .btn-navbar {
  font-family: $headerFontFamily;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  color: #000;
}
p {
  margin: 5px 0 13px;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
}
h2 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 8px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
  margin-bottom: 8px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11px;
}

@media (max-width:480px) {
	h1 {font-size:24px;}
	h2 {font-size: 19.5px;}
	h3 {font-size: 16.5px;}
	h4 {font-size: 14px;}
	h5 {font-size: 13px;}
}

footer h3 {
  text-transform:uppercase;
}

.align-right {
  text-align: right;
}


a.external:after { 
  content: " \279A";
}
a.external img[alt="external"] {
  display: none;
}


p.larger { 
  font-size: 14px; 
}
dl.larger {
  > dt {
    font-size: 18px; 
    line-height: 23px; 
  }
  > dd {
    margin-bottom: 20px; 
  }
}


figure {
  margin: 0;
  padding: 0;
}

body {
  word-wrap: break-word;
}


ol.unstyled {
  margin-left: 0;
  list-style: none;
}


ul.regular,
ol.regular {
  margin: 0 0 9px 30px;
  padding: 0;
}


ul.unstyled-flat {
  list-style: none;

  > li {
    list-style: none;
    float:left;
  }
}
