h1, h2, h3, h4, h5, .headline, .nav, .section-top {
	font-family: $headerFontFamily;
	font-weight: normal;
	}
h1, h2, h3, h4, h5 {
	color: #000;
	}
p {
	margin: 5px 0 13px;
	}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
	}
h2 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 8px;
	}
h3 {
  line-height: 27px;
  font-size: 18px;
  margin-bottom: 8px;
	}
h4 {
	font-size: 16px;
	}
h5 {
	font-size: 14px;
	}
h6 {
	font-size: 11px;
	}
	
footer h3 {
	text-transform:uppercase;
	}

.align-right {
  text-align: right;
}

// external links get a northeast arrow to indicate they are external
a.external:after { 
  content: " \279A"; 
}

p.larger { 
  font-size: 14px; 
}
dl.larger {
  > dt {
    font-size: 18px; 
    line-height: 23px; 
  }
  > dd {
    margin-bottom: 15px; 
  }
}
