$baseFontFamily:      "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
$headerFontFamily:    Overpass, "Helvetica Neue", Helvetica, Arial, sans-serif;

$baseLineHeight:          18px;

$responsivePhone:         480px;
$responsiveTablet:        768px;
$responsiveDefault:       980px;
$responsiveLarge:         1200px;

$gridGutterWidth:         28px;
$gridColumnWidth:         50px; // 80 * 12 = 960

$gridGutterWidthPhone:    20px; // replaces padding

$gridGutterWidthTablet:   20px;
$gridColumnWidthTablet:   42.5px; // 62 * 12 = 744 and 12px gutters

$gridGutterWidthLarge:    30px;
$gridColumnWidthLarge:    60px;

$logoHeight:      90px;
$logoWidth:       110px;
$logoSeparation:  10px;

$openshiftRed:                  #CD202C; /* From style guide */
$openshiftDarkRed:              darken($openshiftRed, 15); /*FIXME: Not accurate */
$openshiftMediumBackgroundGray: #343434; /* From screenshots, for nav */
$openshiftDarkBackgroundGray:   #333; /* From screenshots, background of sign in link */
$openshiftAlmostBlack:          #030303;
$openshiftSeriouslyAlmostBlack: #010101;
$openshiftLinkGray:             #909090; /* Used on the signup link */
$openshiftBorderGray:           #b4b4b2; /* From screenshots */
$genericLightGreen:             #d4e16b;

$cliText:                       #000C5A;
$cliBackground:                 #E9ECFF;

$breadcrumbDividerColor:        $openshiftDarkRed;
$breadcrumbTextColor:           $openshiftMediumBackgroundGray;

$topBarBackgroundColor:         $openshiftSeriouslyAlmostBlack;
$navBackgroundColor:            $openshiftMediumBackgroundGray;
$navBackgroundImage: '../images/landscape-mountains.png';
$navColumnBackgroundColor:      $openshiftAlmostBlack;
$belowNavColumnBackgroundColor: #f2f2f2; /* From Hylke's screenshot additions */
$contentColumnBackgroundColor:  white;

$loginBackgroundColor:          $openshiftDarkBackgroundGray;
$loginColor:                    white;

$signupLinkColor:               $openshiftLinkGray;
$textDarkBackground:            #777;
$subtleTextDarkBackground:			#434343;
$linkTextDarkBackground:				#fff;
$darkBackground:                $openshiftAlmostBlack;
$textLightBackground:           white;
$lightBackground:               white;

$linkColor:                     $openshiftRed;
$linkColorHover:                $openshiftDarkRed;

$textColor:                     #404040;

$ribbonColor:                   #EB0011; /* FIXME: From screenshots, is this accurate? */
$ribbonTextColor:               white;
$ribbonFoldColor:               #91010b; /* FIXME: From screenshots, is this accurate? */

$takeActionBackground:          #EB0011; /* FIXME: This makes the logo look desaturated.  We may want a different color set for the nav */
$takeActionHighlightBackground: #91010b;

$grayLighter:										#ededed;
$grayLight:                     #999;
$grayDark:                      #2f2f2f;
$primaryButtonBackground:       #B1E5F2;
$orange:                        #ffb02e;
$linkColor:                     #0069d6;

$activeButtonDarkColor:					rgba(0,0,0,0.5);
$activeButtonLightColor:				rgba(255,255,255,0.5);

$smallText:											11px;

/* FIXME: Need to resolve these colors with _custom.scss */
$warningText:             #222;
$warningBackground:       #ffd24e;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               white;
$errorBackground:         #CD1E25;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #222;
$successBackground:       #A6C911;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                #222;
$infoBackground:          #bfdce8;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);
/* END */

$hrBorder:                $openshiftBorderGray;

$darkNoiseBackgroundColor:      black; /* Was going to call this $openshiftNoneMoreBlack */

$buzzBackgroundImage:           '../images/landscape-trees.png';
$buzzBackgroundColor:           $openshiftMediumBackgroundGray; /*FIXME: From screenshots this averages to #070707 */

$lightStripesColor:             #e6e6e6;
$lightStripesAltColor:          #e4e4e4;
$lightStripesBackground:        #e5e5e5;
$stripesText:                   $openshiftMediumBackgroundGray;
$stripesHover:                  #ccc;

$pollBarColor:                  $openshiftDarkRed;

$transparentNoiseImageData: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==';

$consoleFormFieldBackground:		#ccc;

